<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.talend.org/metadata/mdmserverdef"
            class="com.talend.mdm.repository.model.mdmmetadata.MdmmetadataPackage"
            genModel="model/MDMMetadata.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.talend.mdm.repository.model.mdmproperties.MdmpropertiesPackage"
            genModel="model/MDMProperties.genmodel"
            uri="http://www.talend.org/mdmproperties">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.talend.mdm.repository.model.mdmserverobject.MdmserverobjectPackage"
            genModel="model/MDMServerObject.genmodel"
            uri="http://www.talend.org/mdmserverobject">
      </package>
   </extension>









































</plugin>
