<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app >
    
   <!--
       Non clustered version 
       <distributable/> 
   --> 

   <servlet>
      <servlet-name>runServlet</servlet-name>
      <display-name>run Servlet</display-name>
      <description><![CDATA[Upgrade of core and start of routing engine]]></description>
      <servlet-class>com.amalto.core.servlet.RunServlet</servlet-class>
      
      <init-param>
         <param-name>action</param-name>
         <param-value>releasenotes</param-value>
      </init-param>

   </servlet>
   
   <servlet>
      <servlet-name>uploadFile</servlet-name>
      <display-name>FileUpload</display-name>
      <description><![CDATA[FileUploadToWebApp server]]></description>
      <servlet-class>com.amalto.core.servlet.UploadFile</servlet-class>

      <init-param>
         <param-name>action</param-name>
         <param-value>init</param-value>
      </init-param>

   </servlet>
   
   
   <servlet>
      <servlet-name>startupServlet</servlet-name>
      <display-name>Start-Up Servlet</display-name>
      <description><![CDATA[This servlet launches the autoUpgrade on start-up]]></description>
      <servlet-class>com.amalto.core.servlet.StartupServlet</servlet-class>
      <init-param>
         <param-name>action</param-name>
         <param-value>all</param-value>
      </init-param>
      <load-on-startup>999</load-on-startup>
   </servlet>


   
  
  
   <servlet-mapping>
      <servlet-name>runServlet</servlet-name>
      <url-pattern>/</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>uploadFile</servlet-name>
      <url-pattern>/uploadFile</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>startupServlet</servlet-name>
      <url-pattern>/startupServlet</url-pattern>
   </servlet-mapping>


   <taglib>
      <taglib-uri>http://java.sun.com/jstl/ea/core</taglib-uri>
      <taglib-location>/WEB-INF/c.tld</taglib-location>
   </taglib>


    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Run</web-resource-name>
            <url-pattern>/run</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>administration</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>StartupServlet</web-resource-name>
            <url-pattern>/startupServlet</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>administration</role-name>
        </auth-constraint>
    </security-constraint>
        
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>UploadFile</web-resource-name>
            <url-pattern>/uploadFile</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>authenticated</role-name>
        </auth-constraint>
    </security-constraint>

   

    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>xtentisSecurity</realm-name>
    </login-config>

    <security-role>
        <role-name>administration</role-name>
    </security-role>
   <security-role>
      <role-name>authenticated</role-name>
   </security-role>
   
</web-app>
