/*
 *Thank you M. Jack Slocum.
 */



/***************************************************************************************
  TREE
****************************************************************************************/
.leaf{background-image:url(/xtentismdm/secure/img/genericUI/leaf.gif);
    background-repeat:no-repeat;
    background-position:top left;
    padding-left:15px}


/***************************************************************************************
  SPECIFIC
****************************************************************************************/

.itemTree{
	font-size:13px;
	}

.inputTreeREADONLY{ background-color:f4f4f4;padding-left:1px;
border-color:f4f4f4;border-width:1;border-style:solid;font: 13px tahoma, verdana, helvetica; background-image:none}

.inputTree{ border-color:787878;border-width:1;border-style:solid;padding-left:1px;font: 13px tahoma, verdana, helvetica;}

.inputTreeForeignKey{ background-color:f4f4f4;border-color:787878;border-width:1;border-style:solid;padding-left:1px;font: 13px tahoma, verdana, helvetica;}

.detailOpened{background-image:url(/xtentismdm/secure/img/close-detail2.gif);}

.detailClosed{background-image:url(/xtentismdm/secure/img/open-detail2.gif);}

.detailLabel{color:787878;font: 13px tahoma, verdana, helvetica;}

.gridGenericUI{font-family:tahoma,verdana;}

.dotted-line{border:1px;border-color:white;border-style:solid;font: 13px tahoma, verdana, helvetica;
/*border-bottom-width:1px;border-bottom-style:dotted*/
}

.left{float:left;text-align:left;width:150px;}
.leftField{float:left;text-align:left;left:20px;font-family:Verdana,Arial,Helvetica,sans-serif;}
.right{float:right;}
.buttonRightBottom{float:right;bottom:20px;right:20px}

.generic-header{
	background-image: url(/xtentismdm/secure/img/genericUI/header.gif);
	background-repeat: repeat-y;
	background-position:right;
	font:bold 12px verdana, helvetica;
	overflow:hidden;
	padding:4px;
	border:0px none;
	border-bottom:2px solid #c3daf9;
}
/***************************
	SPECIFIC : drg and drop
****************************/

#ddgrid1, #ddgrid2 {
	width:250px;
	height:225px;
	border: 1px solid #c3daf9;
	float: left;
}
#ddfilterGrid1,#ddfilterGrid2{
	width:508px;
	height:100px;
	border: 1px solid #c3daf9;
	float: left;
}

#ddgrid1 .ygrid-col-0 {
}
#ddgrid1 .ygrid-col-1 {
}
#ddgrid2 .ygrid-col-0 {
}
#ddgrid2 .ygrid-col-1 {
}

#ddfilterGrid1 .ygrid-col-0 {
}
#ddfilterGrid1 .ygrid-col-1 {
}
#ddfilterGrid2 .ygrid-col-0 {
}
#ddfilterGrid2 .ygrid-col-1 {
}



html, body {
	font: normal 9pt tahoma;
	margin: 0px;
	padding:0px;
	border:0px;
}

input,select,textarea{font-family:tahoma,verdana}

/***************************************************************************************
  LAYOUT
****************************************************************************************/
.ytoolbar{
	border:0px none;
	background-color:#D8E7FB;
	border-bottom:1px solid #c3daf9;
	padding-bottom:1px;
}

.ylayout-collapsed-west{
    background-image:url(/xtentismdm/secure/img/genericUI/menu.gif);
    background-repeat:no-repeat;
    background-position:center;
}
.ylayout-collapsed-east{
    background-image:url(/xtentismdm/secure/img/genericUI/model-cluster.gif);
    background-repeat:no-repeat;
    background-position:center;
}
#main .ylayout-collapsed-south{
    background-image:url(/xtentismdm/secure/img/preview.gif);
    background-repeat:no-repeat;
    background-position:center;
}

.ylayout-panel-south{
	background:#c3daf9;
	border:0px none;
	border-top:1px solid #ddecfe;
}
.ytheme-gray .ylayout-panel-south{
	background:#f3f2e7;
	border:0px none;
}

.ylayout-panel-north, .ytheme-gray .ylayout-panel-north{
	/*background-image: url(/xtentismdm/secure/img/genericUI/header.gif);
	background-repeat: repeat-y;
	background-position:right;
	color:#FFF;
	font:bold 12px verdana, helvetica;
	overflow:hidden;
	padding:4px;
	border:0px none;*/
	border-bottom:2px solid #c3daf9;
	border:0px none;
	border-top:1px solid #ddecfe;
}
.ytheme-gray .ylayout-panel-north{
	border-bottom:2px solid #f3f2e7;
}
.ylayout-panel-hd-text{
	font: bold 11px tahoma,verdana,helvetica;
	color:#083772;
}
.ytheme-gray .ylayout-panel-hd-text{
	font: bold 11px tahoma,verdana,helvetica;
	color:#333333;
}



/***************************************************************************************
  CENTER DIV
****************************************************************************************/

#centerdiv .ylayout-panel-center{
	border-bottom:1px solid #98c0f4;
}


/***************************************************************************************
  COMMON TOOLBAR
****************************************************************************************/

.tb-button{	
	width:auto;	
	background-position: 0px 0px;	
}

.tb-button-display {
	display:block;
	background-repeat: no-repeat;
	padding-left:18px;
	padding-top:1px;
	background-image: url('/xtentismdm/secure/img/forward.gif');
}

.tb-button-nude {
	display:block;
	padding-left:1px;
	padding-top:1px;
}
/***************************************************************************************
  REPORTING
****************************************************************************************/


#data-grid-reporting-tb .tb-button{	
	width:auto;	
	background-position: 0px 0px;	
}

/***************************************************************************************
  VIEW BROWSER
****************************************************************************************/
#data-grid-view-tb .tb-button{
	width:auto;	
	background-position: 0px 0px;
}

#view_panel-tb .tb-button{
	width:auto;	
	background-position: 0px 0px;
}

#treeDiv {
	color:black;
}
/***************************************************************************************
  ITEM BROWSER
****************************************************************************************/
#data-grid-items-tb .tb-button{
	width:auto;	
	background-position: 0px 0px;
}

#item-tb .tb-button{
	width:auto;	
	background-position: 0px 0px;
}

/***************************************************************************************
  USER BROWSER
****************************************************************************************/

#data-grid-users-tb .tb-button{
	width:auto;	
	background-position: 0px 0px;
}

#user-detail{
	padding:18px;
	}

/***************************************************************************************
  SCHDULER BROWSER
****************************************************************************************/

#data-grid-servicecalls-tb .tb-button{
	width:auto;	
	background-position: 0px 0px;
}

#settings-tb .tb-button{
	width:auto;	
	background-position: 0px 0px;
}
/***************************************************************************************
  ALERT
****************************************************************************************/

#alertMailingList-tb .tb-button{
	width:auto;	
	background-position: 0px 0px;
}








/***************************************************************************************
  ACTIONS
****************************************************************************************/

#actions-body{
	overflow:auto;
	
}

.actions-list{
	padding:1px;
}
.actions-list a{
	border:1px solid white;
	display:block;
	-moz-outline:none;
	margin-bottom:2px;
	text-decoration:none;
}
.actions-list a .body{
	padding:5px 2px 5px 22px;
	/*background-image:url('/xtentismdm/secure/img/o-green-orange2.gif');*/
	background-position: 2px 5px;
	background-repeat: no-repeat;
	font:bold 12px tahoma, verdana, helvetica;
	color: #2d5593;
	display:block;
	-moz-outline:none;
}
.actions-list a .desc{
	font:normal 11px tahoma, verdana, helvetica;
	color: #222222;
}
.actions-list a:hover, .actions-list .selected{
	text-decoration: none;
	border:1px solid #c3daf9;
	background-color:#ddecfe;
}
.actions-list .selected{
	background-image: url('/xtentismdm/secure/img/post-bg.gif');
	border:1px solid #c3daf9;
}








