<?xml version="1.0" encoding="UTF-8"?>

<plugin>
  <extension
        id="product"
        point="org.eclipse.core.runtime.products">
     <product
           application="org.talend.rcp.branding.tom.application"
           name="%productName">
        <property
              name="appName"
              value="%productName">
        </property>
        <property
              name="aboutImage"
              value="icons/about.gif">
        </property>
        <property
              name="aboutText"
              value="%productBlurb">
        </property>
        <property
              name="windowImages"
              value="icons/appli_16x16.gif,icons/appli_32x32.gif,icons/appli_48x48.gif">
        </property>
        <property
              name="startupForegroundColor"
              value="FFFFFF">
        </property>
        <property
              name="startupMessageRect"
              value="7,232,420,20">
        </property>
        <property
              name="startupProgressRect"
              value="7,212,420,15">
        </property>
        <property
              name="preferenceCustomization"
              value="plugin_customization.ini">
        </property>
     </product>
  </extension>
  <extension
        id="application"
        point="org.eclipse.core.runtime.applications">
     <application
           icon="icons/appli_16x16.gif">
        <run
              class="com.amalto.workbench.rcp.Application">
        </run>
     </application>
  </extension>

   <extension
         point="org.eclipse.ui.intro.config">
      <config
            content="introContent.xml"
            id="org.talend.rcp.branding.tom.introConfigId"
            introId="org.talend.rcp.branding.tom.intro">
         <presentation
               home-page-id="root">
            <implementation
                  kind="html"
                  os="win32,linux,macosx"
                  style="content/shared.css">
            </implementation>
         </presentation>
      </config>
   </extension>
      <extension
         point="org.eclipse.ui.intro">
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            icon="icons/appli_16x16.gif"
            id="org.talend.rcp.branding.tom.intro">
      </intro>
      <introProductBinding
            introId="org.talend.rcp.branding.tom.intro"
            productId="org.talend.rcp.branding.tom.product">
      </introProductBinding>
   </extension>
</plugin>
