svn.revision=50000
major=3
minor=2
rev=0
jboss.dir=D:/jboss-4.2.2
local.developer.build=true
maven.ant.tasks.file=D:/apache-maven-2.2.1/lib/maven-ant-tasks-2.1.1.jar
env.M2_HOME=D:/apache-maven-2.2.1
#dev.mode.excluded.start=<!--
#dev.mode.excluded.end=-->