<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Talend Open MDM Workbench"
            id="com.talend.workbench">
      </category>
      <view
            category="com.talend.workbench"
            class="com.amalto.workbench.views.ServerView"
            icon="icons/talend-picto-small.gif"
            id="org.talend.openmdm.workbench.views.ServerView"
            name="Talend Open MDM Server View">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="com.amalto.workbench.views.ServerView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.amalto.workbench.editors.XObjectEditor"
            default="false"
            icon="icons/talend-picto-small.gif"
            id="com.amalto.workbench.editors.XObjectEditor"
            name="com.amalto.workbench.editors.XObjectEditor"/>
      <editor
            class="com.amalto.workbench.editors.XObjectBrowser"
            default="false"
            icon="icons/talend-picto-small.gif"
            id="com.amalto.workbench.editors.XObjectBrowser"
            name="com.amalto.workbench.editors.XObjectBrowser"/>
      <editor
            class="com.amalto.workbench.editors.XObjectRevisionBrowser"
            default="false"
            icon="icons/talend-picto-small.gif"
            id="com.amalto.workbench.editors.XObjectRevisionBrowser"
            name="com.amalto.workbench.editors.XObjectRevisionBrowser">
      </editor>
   </extension>

</plugin>
