<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="emAction" name="emAction" schema="schema/emAction.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.talend.core.root"
            class="org.talend.mdm.workbench.serverexplorer.ui.views.ServerExplorer"
            icon="icons/server.png"
            id="org.talend.mdm.workbench.serverexplorer.ui.views.ServerExplorer"
            name="%View.ServerName">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="org.talend.mdm.workbench.serverexplorer.viewContribution"
            targetID="org.talend.mdm.workbench.serverexplorer.ui.views.ServerExplorer">
         <action
               class="org.talend.mdm.workbench.serverexplorer.ui.actions.RefreshServerDefAction"
               icon="icons/refresh.gif"
               id="org.talend.mdm.workbench.serverexplorer.ui.actions.RefreshServerDefAction"
               label="%Action.Refresh"
               style="push"
               toolbarPath="ServerExplorerToolBar">
         </action>
         <action
               class="org.talend.mdm.workbench.serverexplorer.ui.actions.AddServerDefAction"
               icon="icons/add_obj.gif"
               id="org.talend.mdm.workbench.serverexplorer.ui.actions.AddServerDefAction"
               label="Add Server Location"
               style="push"
               toolbarPath="ServerExplorerToolBar"
               tooltip="Add Server Location">
         </action>
        
         
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.talend.mdm.perspective">
         <view
               id="org.talend.mdm.workbench.serverexplorer.ui.views.ServerExplorer"
               minimized="false"
               ratio="0.7"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               visible="true">
         </view>
		<view
               closeable="true"
               id="org.eclipse.ui.views.PropertySheet"
               minimized="false"
               moveable="true"
               relationship="stack"
               relative="org.talend.mdm.workbench.serverexplorer.ui.views.ServerExplorer"
               showTitle="true"
               visible="false">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.talend.core.repository.repository_node_provider">
      <repositoryNode
            class="org.talend.mdm.workbench.serverexplorer.core.ServerDefRepositoryNode"
            folder="metadata/MDMServerDef"
            isResouce="true"
            label="Server Definition  "
            products="MDM"
            type="MDM.ServerDef">
      </repositoryNode>
   </extension>
   <extension
         point="org.talend.core.repository.repository_content">
      <RepositoryContent
            class="org.talend.mdm.workbench.serverexplorer.core.ServerDefRepositoryContentHandler">
      </RepositoryContent>
   </extension>
</plugin>
