<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
    <!-- servlets -->
	<servlet>
		<servlet-name>ImageUploadServlet</servlet-name>
		<display-name>ImageUploadServlet</display-name>
		<servlet-class>talend.ext.images.server.ImageUploadServlet</servlet-class>
		<init-param>
			<param-name>image-file-types</param-name>
			<param-value>bmp|gif|ico|ilbm|lbm|iff|jpg|jpeg|png|psd|tif|tiff</param-value>
		</init-param>
		<init-param>
			<param-name>default-file-field-name</param-name>
			<param-value>imageFile</param-value>
		</init-param>
		<init-param>
			<param-name>default-catalog-field-name</param-name>
			<param-value>catalogName</param-value>
		</init-param>
		<init-param>
			<param-name>output-format</param-name>
			<param-value>json</param-value>
		</init-param>
		<init-param>
			<param-name>bak-in-db</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>db-delegate-class</param-name>
			<param-value>talend.ext.images.server.backup.DBDelegateExistImpl</param-value>
		</init-param>
		<init-param>
			<param-name>bak-use-transaction</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>ImageDeleteServlet</servlet-name>
		<servlet-class>talend.ext.images.server.ImageDeleteServlet</servlet-class>
		<init-param>
			<param-name>output-format</param-name>
			<param-value>json</param-value>
		</init-param>
		<init-param>
			<param-name>delete-in-db</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>db-delegate-class</param-name>
			<param-value>talend.ext.images.server.backup.DBDelegateExistImpl</param-value>
		</init-param>
		<init-param>
			<param-name>delete-use-transaction</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>ImageScaleServlet</servlet-name>
		<servlet-class>com.mchange.v2.ssim.SsimServlet</servlet-class>
		<init-param>
			<param-name>cacheDir</param-name>
			<param-value>/scale_tmp</param-value>
		</init-param>
		<init-param>
			<param-name>use-db-backup</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>db-delegate-class</param-name>
			<param-value>talend.ext.images.server.backup.DBDelegateExistImpl</param-value>
		</init-param>
	</servlet>
	
	
	<servlet-mapping>
		<servlet-name>ImageUploadServlet</servlet-name>
		<url-pattern>/secure/ImageUploadServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ImageDeleteServlet</servlet-name>
		<url-pattern>/secure/ImageDeleteServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ImageScaleServlet</servlet-name>
		<url-pattern>*.jpg</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ImageScaleServlet</servlet-name>
		<url-pattern>*.JPG</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ImageScaleServlet</servlet-name>
		<url-pattern>*.jpeg</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ImageScaleServlet</servlet-name>
		<url-pattern>*.JPEG</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ImageScaleServlet</servlet-name>
		<url-pattern>*.gif</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ImageScaleServlet</servlet-name>
		<url-pattern>*.GIF</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ImageScaleServlet</servlet-name>
		<url-pattern>*.png</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ImageScaleServlet</servlet-name>
		<url-pattern>*.PNG</url-pattern>
	</servlet-mapping> 

    <!-- security -->
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Secure resources</web-resource-name>
			<url-pattern>/secure/*</url-pattern>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>WEB-INF</web-resource-name>
			<url-pattern>/WEB-INF/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>administration</role-name>
			<role-name>authenticated</role-name>
		</auth-constraint>
	</security-constraint>
	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>xtentisWebAppSecurity</realm-name>
		<form-login-config>
			<form-login-page>/auth/login.jsp</form-login-page>
			<form-error-page>/auth/login.jsp?error=loginFailed</form-error-page>
		</form-login-config>
	</login-config>
	<security-role>
		<role-name>administration</role-name>
	</security-role>
	<security-role>
		<role-name>authenticated</role-name>
	</security-role>
</web-app>