<?xml version="1.0" encoding="UTF-8"?>

<plugin>
   <extension-point id="AvailableModel" name="AvailableModel" schema="schema/AvailableModel.exsd"/>
   <extension-point id="service" name="Service Registration" schema="schema/service.exsd"/>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Talend"
            id="org.talend.mdm.workbench">
      </category>
      <view
            allowMultiple="true"
            category="org.talend.mdm.workbench"
            class="com.amalto.workbench.views.ServerView"
            icon="icons/talend-picto-small.gif"
            id="org.talend.mdm.workbench.views.ServerView"
            name="MDM Server">
            <!--name="Talend MDM Server View"-->
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.amalto.workbench.editors.XObjectEditor"
            default="false"
            icon="icons/talend-picto-small.gif"
            id="com.amalto.workbench.editors.XObjectEditor"
            name="com.amalto.workbench.editors.XObjectEditor"/>
      <editor
            class="com.amalto.workbench.editors.XObjectBrowser"
            default="false"
            icon="icons/talend-picto-small.gif"
            id="com.amalto.workbench.editors.XObjectBrowser"
            name="com.amalto.workbench.editors.XObjectBrowser"/>
      <editor
            class="com.amalto.workbench.editors.XObjectRevisionBrowser"
            default="false"
            icon="icons/talend-picto-small.gif"
            id="com.amalto.workbench.editors.XObjectRevisionBrowser"
            name="com.amalto.workbench.editors.XObjectRevisionBrowser">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.amalto.workbench.views.MDMPerspective"
            fixed="false"
            icon="icons/talend-picto-small.gif"
            id="org.talend.mdm.perspective"
            name="MDM">
      </perspective>
   </extension>
   <!-- add the following to let MDM perspective to be show in TIS/TDQ -->
  <extension
         point="org.talend.core.talendperspectives">
      <TalendPerspective
            refPerspectiveId="org.talend.mdm.perspective"
            talendPerspectiveId="org.talend.mdm.tis.perspective">
      </TalendPerspective>
   </extension>

   
</plugin>
