<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Talend Open MDM Workbench"
            id="org.talend.mdm.workbench">
      </category>
      <view
            allowMultiple="false"
            category="org.talend.mdm.workbench"
            class="com.amalto.workbench.views.ServerView"
            icon="icons/talend-picto-small.gif"
            id="org.talend.openmdm.workbench.views.ServerView"
            name="MDM Server View">
            <!--name="Talend Open MDM Server View"-->
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               closeable="false"
               id="com.amalto.workbench.views.ServerView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.amalto.workbench.editors.XObjectEditor"
            default="false"
            icon="icons/talend-picto-small.gif"
            id="com.amalto.workbench.editors.XObjectEditor"
            name="com.amalto.workbench.editors.XObjectEditor"/>
      <editor
            class="com.amalto.workbench.editors.XObjectBrowser"
            default="false"
            icon="icons/talend-picto-small.gif"
            id="com.amalto.workbench.editors.XObjectBrowser"
            name="com.amalto.workbench.editors.XObjectBrowser"/>
      <editor
            class="com.amalto.workbench.editors.XObjectRevisionBrowser"
            default="false"
            icon="icons/talend-picto-small.gif"
            id="com.amalto.workbench.editors.XObjectRevisionBrowser"
            name="com.amalto.workbench.editors.XObjectRevisionBrowser">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.amalto.workbench.views.MDMPerspective"
            fixed="true"
            icon="icons/talend-picto-small.gif"
            id="org.talend.mdm.perspective"
            name="Master Data Management">
      </perspective>
   </extension>

</plugin>
