<?xml version="1.0" encoding="UTF-8"?>

<plugin>
   <extension-point id="AvailableModel" name="AvailableModel" schema="schema/AvailableModel.exsd"/>
   <extension-point id="service" name="Service Registration" schema="schema/service.exsd"/>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Talend"
            id="org.talend.mdm.workbench">
      </category>
      <view
            allowMultiple="true"
            category="org.talend.mdm.workbench"
            class="com.amalto.workbench.views.ServerView"
            icon="icons/appli_16x16.gif"
            id="org.talend.mdm.workbench.views.ServerView"
            name="MDM Server">
            <!--name="Talend MDM Server View"-->
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.amalto.workbench.editors.XObjectEditor"
            default="false"
            icon="icons/appli_16x16.gif"
            id="com.amalto.workbench.editors.XObjectEditor"
            name="com.amalto.workbench.editors.XObjectEditor"/>
      <editor
            class="com.amalto.workbench.editors.XObjectBrowser"
            default="false"
            icon="icons/appli_16x16.gif"
            id="com.amalto.workbench.editors.XObjectBrowser"
            name="com.amalto.workbench.editors.XObjectBrowser"/>
      <editor
            class="com.amalto.workbench.editors.XObjectRevisionBrowser"
            default="false"
            icon="icons/appli_16x16.gif"
            id="com.amalto.workbench.editors.XObjectRevisionBrowser"
            name="com.amalto.workbench.editors.XObjectRevisionBrowser">
      </editor>
      <editor
            class="com.amalto.workbench.editors.xsdeditor.XSDEditor"
            default="false"
            icon="icons/appli_16x16.gif"
            id="com.amalto.workbench.editors.xsdeditor.XSDEditor"
            name="com.amalto.workbench.editors.xsdeditor.XSDEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.amalto.workbench.views.MDMPerspective"
            fixed="false"
            icon="icons/appli_16x16.gif"
            id="org.talend.mdm.perspective"
            name="MDM">
      </perspective>
   </extension>
   <!-- add the following to let MDM perspective to be show in TIS/TDQ -->
  <extension
         point="org.talend.core.talendperspectives">
      <TalendPerspective
            refPerspectiveId="org.talend.mdm.perspective"
            talendPerspectiveId="org.talend.mdm.tis.perspective">
      </TalendPerspective>
   </extension>
  <extension
        point="org.talend.mdm.workbench.AvailableModel">
     <model
           class="com.amalto.workbench.availablemodel.JobAvailableModel">
     </model>
  </extension>
  <extension
        point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
     <propertyContributor
           contributorId="org.talend.mdm.workbench.propertyContributor.datamodel"
           labelProvider="com.amalto.workbench.detailtabs.contributor.DataModelPropLabelProvider">
        <propertyCategory
              category="Entity">
        </propertyCategory>
        <propertyCategory
              category="Element">
        </propertyCategory>
        <propertyCategory
              category="SimpleType">
        </propertyCategory>
        <propertyCategory
              category="ComplexType">
        </propertyCategory>
     </propertyContributor>
  </extension>
  <extension
        name="Entity Tabs"
        point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
     <propertyTabs
           contributorId="org.talend.mdm.workbench.propertyContributor.datamodel">
        <propertyTab
              category="Entity"
              id="org.talend.mdm.workbench.properties.entity.tab.main"
              label="Main">
        </propertyTab>
        <propertyTab
              afterTab="org.talend.mdm.workbench.properties.entity.tab.main"
              category="Entity"
              id="org.talend.mdm.workbench.properties.entity.tab.presentation"
              label="Presentation">
        </propertyTab>
        <propertyTab
              afterTab="org.talend.mdm.workbench.properties.entity.tab.presentation"
              category="Entity"
              id="org.talend.mdm.workbench.properties.entity.tab.accessrights"
              label="Access Rights">
        </propertyTab>
     </propertyTabs>
  </extension>
  <extension
        name="Element Tabs"
        point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
     <propertyTabs
           contributorId="org.talend.mdm.workbench.propertyContributor.datamodel">
        <propertyTab
              afterTab="org.talend.mdm.workbench.properties.element.tab.accessrights"
              category="Element"
              id="org.talend.mdm.workbench.properties.element.tab.relationship"
              label="Relationship">
        </propertyTab>
     </propertyTabs>
  </extension>
  <extension
        name="Entity Sections"
        point="org.eclipse.ui.views.properties.tabbed.propertySections">
     <propertySections
           contributorId="org.talend.mdm.workbench.propertyContributor.datamodel">
        <propertySection
              class="com.amalto.workbench.detailtabs.sections.EntityMainSection"
              id="org.talend.mdm.workbench.properties.entity.section.main"
              tab="org.talend.mdm.workbench.properties.entity.tab.main">
           <input
                 type="org.eclipse.xsd.XSDElementDeclaration">
           </input>
        </propertySection>
        <propertySection
              class="com.amalto.workbench.detailtabs.sections.PrsentationLabelSection"
              id="org.talend.mdm.workbench.properties.entity.section.presentation.label"
              tab="org.talend.mdm.workbench.properties.entity.tab.presentation">
           <input
                 type="org.eclipse.xsd.XSDElementDeclaration">
           </input>
        </propertySection>
        <propertySection
              afterSection="org.talend.mdm.workbench.properties.entity.section.presentation.label"
              class="com.amalto.workbench.detailtabs.sections.PresentationDescriptionSection"
              id="org.talend.mdm.workbench.properties.entity.section.presentation.description"
              tab="org.talend.mdm.workbench.properties.entity.tab.presentation">
           <input
                 type="org.eclipse.xsd.XSDElementDeclaration">
           </input>
        </propertySection>
        <propertySection
              afterSection="org.talend.mdm.workbench.properties.entity.section.presentation.description"
              class="com.amalto.workbench.detailtabs.sections.CommitSection"
              id="org.talend.mdm.workbench.properties.entity.section.presentation.commit"
              tab="org.talend.mdm.workbench.properties.entity.tab.presentation">
           <input
                 type="org.eclipse.xsd.XSDElementDeclaration">
           </input>
        </propertySection>
     </propertySections>
  </extension>
  <extension
        name="Element Sections"
        point="org.eclipse.ui.views.properties.tabbed.propertySections">
     <propertySections
           contributorId="org.talend.mdm.workbench.propertyContributor.datamodel">
        <propertySection
              class="com.amalto.workbench.detailtabs.sections.ElementFKSection"
              id="org.talend.mdm.workbench.properties.element.section.relationship.fk"
              tab="org.talend.mdm.workbench.properties.element.tab.relationship">
           <input
                 type="org.eclipse.xsd.XSDParticle">
           </input>
        </propertySection>
        <propertySection
              afterSection="org.talend.mdm.workbench.properties.element.section.relationship.fk"
              class="com.amalto.workbench.detailtabs.sections.ElementFKFilterSection"
              id="org.talend.mdm.workbench.properties.element.section.relationship.fkfilter"
              tab="org.talend.mdm.workbench.properties.element.tab.relationship">
           <input
                 type="org.eclipse.xsd.XSDParticle">
           </input>
        </propertySection>
        <propertySection
              afterSection="org.talend.mdm.workbench.properties.element.section.relationship.fkfilter"
              class="com.amalto.workbench.detailtabs.sections.ElementFKInfosSection"
              id="org.talend.mdm.workbench.properties.element.section.relationship.fkinfos"
              tab="org.talend.mdm.workbench.properties.element.tab.relationship">
           <input
                 type="org.eclipse.xsd.XSDParticle">
           </input>
        </propertySection>
        <propertySection
              afterSection="org.talend.mdm.workbench.properties.element.section.relationship.fkinfos"
              class="com.amalto.workbench.detailtabs.sections.CommitSection"
              id="org.talend.mdm.workbench.properties.element.section.relationship.commit"
              tab="org.talend.mdm.workbench.properties.element.tab.relationship">
           <input
                 type="org.eclipse.xsd.XSDParticle">
           </input>
        </propertySection>
     </propertySections>
  </extension>

   
</plugin>
