<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
>
   <extension-point id="repositoryConfiguration" name="repositoryConfiguration" schema="schema/repositoryConfiguration.exsd"/>
   <extension-point id="actionProviderConfiguration" name="actionProviderConfiguration" schema="schema/actionProviderConfiguration.exsd"/>
   <extension-point id="jobtemplateGenPage" name="jobtemplateGenPage" schema="schema/jobtemplateGenPage.exsd"/>
   <extension-point id="repositoryResourceChangeListener" name="repositoryResourceChangeListener" schema="schema/repositoryResourceChangeListener.exsd"/>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="org.talend.mdm.repository.context"
            name="MDM Repository View"
            parentId="org.eclipse.ui.contexts.window">
      </context>
   </extension>
  <!--
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.talend.mdm.perspective">
         <view
               closeable="true"
               id="org.talend.repository.views.repository"
               minimized="false"
               moveable="true"
               relationship="stack"
               relative="org.talend.mdm.workbench.views.ServerView"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   -->
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.talend.core.root"
            class="org.talend.mdm.repository.ui.navigator.MDMRepositoryView"
            icon="icons/repository_nav.png"
            id="org.talend.mdm.repository.ui.navigator.MDMRepositoryView"
            name="%view.MDMRepositoryView.name"
            restorable="true">
      </view>
   </extension>
   
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.talend.mdm.repository.ui.preferences.AutoDeployPreferencePage"
            id="org.talend.mdm.repository.ui.preferences.AutoDeployPreferencePage"
            category="org.talend.core.prefs"
            name="MDM"/>
      <page
            category="org.talend.mdm.repository.ui.preferences.AutoDeployPreferencePage"
            class="org.talend.mdm.repository.ui.preferences.SwitchPerspectivePreferencePage"
            id="org.talend.mdm.repository.ui.preferences.SwitchPerspectivePreferencePage"
            name="Editor">
      </page>
      <page
            category="org.talend.mdm.repository.ui.preferences.AutoDeployPreferencePage"
            class="org.talend.mdm.repository.ui.preferences.ConsistencyConflictPreferencePage"
            id="org.talend.mdm.repository.ui.preferences.ConsistencyConflictPreferencePage"
            name="Consistency">
      </page> 
   </extension>
   
	 	    
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.talend.mdm.repository.ui.preferences.RepositoryPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.talend.mdm.perspective">
         <view
               closeable="true"
               id="org.talend.mdm.repository.ui.navigator.MDMRepositoryView"
               minimized="false"
               moveable="true"
               ratio="0.3"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               visible="true">
         </view>
         <view
               closeable="true"
               id="org.talend.mdm.workbench.views.ServerView"
               minimized="false"
               moveable="true"
               relationship="stack"
               relative="org.talend.mdm.repository.ui.navigator.MDMRepositoryView"
               showTitle="true"
               visible="false">
         </view>

         <!--
         <view
               id="org.talend.repository.views.repository"
               minimized="false"
               relationship="stack"
               relative="org.talend.mdm.repository.ui.navigator.MDMRepositoryView">
         </view>
         -->
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.talend.mdm.repository.ui.navigator.MDMRepositoryContentProvider"
            icon="icons/default.gif"
            id="org.talend.mdm.workbench.repository.navigatorContent"
            labelProvider="org.talend.mdm.repository.ui.navigator.MDMRepositoryLabelProvider"
            name="MDMNavigatorContent">
         <enablement>
            <or>
               <instanceof
                     value="org.talend.core.model.repository.IRepositoryViewObject">
               </instanceof>
            </or>
         </enablement>
         <actionProvider
               class="org.talend.mdm.repository.ui.navigator.MDMRepositoryActionProvider"
               id="org.talend.mdm.repository.ui.navigator.MDMRepositoryActionProvider">
         </actionProvider>
         <commonSorter
               class="org.talend.mdm.repository.ui.navigator.MDMRepositoryViewerSorter">
         </commonSorter>
         <dropAssistant
               class="org.talend.mdm.repository.core.dnd.RepositoryDropAssistant"
               id="org.talend.mdm.repository.core.dnd.RepositoryDropAssistant">
            <possibleDropTargets></possibleDropTargets>
         </dropAssistant>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="org.talend.mdm.repository.ui.navigator.MDMRepositoryView">
         <popupMenu>
            <insertionPoint
                  name="group.edit"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.common"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.server"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.export"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.deploy"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.svn"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.git"
                  separator="true">
            </insertionPoint>
         </popupMenu>
      </viewer>
      <viewerContentBinding
            viewerId="org.talend.mdm.repository.ui.navigator.MDMRepositoryView">
         <includes>
            <contentExtension
                  isRoot="true"
                  pattern="org.talend.mdm.workbench.repository.navigatorContent">
            </contentExtension>
            <contentExtension
                  isRoot="true"
                  pattern="org.talend.mdm.repository.linkHelper">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <dragAssistant
            class="org.talend.mdm.repository.core.dnd.RepositoryDragAssistant"
            viewerId="org.talend.mdm.repository.ui.navigator.MDMRepositoryView">
      </dragAssistant>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.linkHelper">
      <linkHelper
            class="org.talend.mdm.repository.ui.navigator.MDMRepositoryLinkHelper"
            id="org.talend.mdm.repository.linkHelper">
         <editorInputEnablement>
            <or>
               <instanceof
                     value="org.talend.mdm.repository.ui.editors.IRepositoryViewEditorInput">
               </instanceof>
               <instanceof
                     value="org.talend.designer.core.ui.editor.ProcessEditorInput">
               </instanceof>
            </or></editorInputEnablement>
         <selectionEnablement>
            <instanceof
                  value="org.talend.core.model.repository.IRepositoryViewObject">
            </instanceof>
         </selectionEnablement>
      </linkHelper>
   </extension>
   <extension
         point="org.talend.core.repository.repository_content">
      <RepositoryContent
            class="org.talend.mdm.repository.core.ServerObjectRepositoryContentHandler">
      </RepositoryContent>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            class="org.talend.mdm.repository.ui.navigator.MDMServerDecorator"
            id="org.talend.mdm.repository.ui.navigator.MDMServerDecorator"
            label="MDMServerDecorator"
            lightweight="true"
            state="true">
         <enablement>
            <objectClass
                  name="org.talend.core.model.repository.IRepositoryViewObject">
            </objectClass>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            class="org.talend.mdm.repository.ui.navigator.TriggerDecorator"
            id="org.talend.mdm.repository.ui.navigator.TriggerDecorator"
            label="TriggerDecorator"
            lightweight="true"
            state="true">
         <enablement>
            <objectClass
                  name="org.talend.core.model.repository.IRepositoryViewObject">
            </objectClass>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            class="org.talend.mdm.repository.ui.navigator.MDMLockDecorator"
            id="org.talend.mdm.repository.userlockdecorator"
            label="MDM repositroy user Lock Decorator"
            lightweight="true"
            state="true">
         <enablement>
            <objectClass
                  name="org.talend.core.model.repository.IRepositoryViewObject">
            </objectClass>
         </enablement>
      </decorator>
   </extension>
   
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.talend.mdm.repository.ui.editors.XObjectEditor2"
            default="false"
            icon="icons/default.gif"
            id="org.talend.mdm.repository.ui.editors.XObjectEditor2"
            name="org.talend.mdm.repository.ui.editors.XObjectEditor2">
      </editor>
      <editor
            class="org.talend.mdm.repository.ui.editors.XObjectBrowser2"
            default="false"
            icon="icons/default.gif"
            id="org.talend.mdm.repository.ui.editors.XObjectBrowser2"
            name="org.talend.mdm.repository.ui.editors.XObjectBrowser2">
      </editor>       
      <editor
            class="org.talend.mdm.repository.ui.editors.XSDEditor2"
            contributorClass="org.talend.mdm.repository.ui.editors.XSDEditorActionContributor"
            default="false"
            icon="icons/datamodel_white.png"
            id="org.talend.mdm.repository.ui.editors.XSDEditor2"
            name="org.talend.mdm.repository.ui.editors.XSDEditor2">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="org.talend.mdm.repository.viewContribution"
            targetID="org.talend.mdm.repository.ui.navigator.MDMRepositoryView">
         <action
               class="org.talend.mdm.repository.ui.actions.FilterRepositoryViewNodeAction"
               icon="icons/filter.gif"
               id="org.talend.mdm.repository.ui.actions.FilterRepositoryViewNodeAction"
               label="%viewAction.filter.label"
               style="toggle"
               toolbarPath="repositoryView"
               tooltip="%viewAction.filter.tooltip">
         </action>
         <!--
         <menu
               id="org.talend.mdm.repository.menu.filter"
               label="Config Filter..."
               path="filter">
         </menu>-->
         <action
               class="org.talend.mdm.repository.ui.actions.ConfigRepositoryFilterAction"
               icon="icons/filter.gif"
               id="org.talend.mdm.repository.action2"
               label="%viewAction.configFilter.label"
               menubarPath="filter">
         </action>
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.talend.mdm.repository.copy"
            name="Copy">
      </command>
      <command
            id="com.talend.mdm.repository.paste"
            name="Paste">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.talend.mdm.repository.copy"
            contextId="org.talend.mdm.repository.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+C">
      </key>
      <key
            commandId="com.talend.mdm.repository.paste"
            contextId="org.talend.mdm.repository.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+V">
      </key>
   </extension>
   <extension
         point="org.talend.core.repository.repository_node_provider">
      <repositoryNode
            class="org.talend.mdm.repository.core.nodes.MenuRepositoryNode"
            folder="MDM/menu"
            isResouce="true"
            label="Menu"
            products="MDM"
            type="MDM.Menu">
      </repositoryNode>

      <!--
      <repositoryNode
            class="org.talend.mdm.repository.core.nodes.CategoryRepositoryNode"
            folder="/"
            isResouce="false"
            label="Category"
            products="MDM"
            type="MDM.Category">
      </repositoryNode>
      -->
      <repositoryNode
            class="org.talend.mdm.repository.core.nodes.DataModelRepositoryNode"
            folder="MDM/datamodel"
            isResouce="true"
            label="Data Model"
            products="MDM"
            type="MDM.DataModel">
      </repositoryNode>
      <repositoryNode
            class="org.talend.mdm.repository.core.nodes.DataClusterRepositoryNode"
            folder="MDM/datacontainer"
            isResouce="true"
            label="Data Container"
            products="MDM"
            type="MDM.DataCluster">
      </repositoryNode>
      <repositoryNode
            class="org.talend.mdm.repository.core.nodes.StoredProcedureRepositoryNode"
            folder="MDM/storedprocedure"
            isResouce="true"
            label="Stored Procedure"
            products="MDM"
            type="MDM.StoredProcedure">
      </repositoryNode>

      <repositoryNode
            class="org.talend.mdm.repository.core.nodes.ViewRepositoryNode"
            folder="MDM/view"
            isResouce="true"
            label="View"
            products="MDM"
            type="MDM.View">
      </repositoryNode>
    
      <repositoryNode
            class="org.talend.mdm.repository.core.nodes.TransformerV2RepositoryNode"
            folder="MDM/transformerV2"
            isResouce="true"
            label="Process"
            products="MDM"
            type="MDM.TransformerV2">
      </repositoryNode>
      <repositoryNode
            class="org.talend.mdm.repository.core.nodes.RoutingRuleRepositoryNode"
            folder="MDM/routingrule"
            isResouce="true"
            label="Trigger"
            products="MDM"
            type="MDM.RoutingRule">
      </repositoryNode>
      <!--
      <repositoryNode
            class="org.talend.mdm.repository.core.nodes.JobModelRepositoryNode"
            folder="MDM/jobmodel"
            isResouce="true"
            label="Job"
            products="MDM"
            type="MDM.JobModel">
      </repositoryNode>
      -->
      <repositoryNode
            class="org.talend.mdm.repository.core.nodes.EventManagerRepositoryNode"
            folder="MDM/eventmanager"
            isResouce="true"
            label="Event Management"
            products="MDM"
            type="MDM.EventManager">
      </repositoryNode>
      <repositoryNode
            class="org.talend.mdm.repository.core.nodes.ServiceConfigurationRepositoryNode"
            folder="MDM/serviceconfiguration"
            isResouce="true"
            label="Service Configuration"
            products="MDM"
            type="MDM.ServiceConfiguration">
      </repositoryNode>

      <repositoryNode
            class="org.talend.mdm.repository.core.nodes.RecycleBinRepositoryNode"
            folder="MDM/RecycleBin"
            isResouce="false"
            label="Recycle bin"
            products="MDM"
            type="MDM.RecycleBin">
      </repositoryNode>

   </extension>
   <extension
         point="org.talend.mdm.repository.repositoryConfiguration">
      <configuration
            class="org.talend.mdm.repository.core.impl.datacontainer.DataClusterNodeConfiguration"
            label="Data Container">
      </configuration>
      <configuration
            class="org.talend.mdm.repository.core.impl.datamodel.DataModelNodeConfiguration"
            label="Data Model">
      </configuration>
      <configuration
            class="org.talend.mdm.repository.core.impl.menu.MenuNodeConfiguration"
            label="Menu">
      </configuration>
      <configuration
            class="org.talend.mdm.repository.core.impl.storedprocedure.StoredProcedureNodeConfiguration"
            label="Stored Procedure">
      </configuration>
 
      <configuration
            class="org.talend.mdm.repository.core.impl.view.ViewNodeConfiguration"
            label="View">
      </configuration>

      <configuration
            class="org.talend.mdm.repository.core.impl.transformerV2.TransformerV2NodeConfiguration"
            label="Process">
      </configuration>
      <configuration
            class="org.talend.mdm.repository.core.impl.routingrule.RoutingRuleNodeConfiguration"
            label="Trigger">
      </configuration>
      <configuration
            class="org.talend.mdm.repository.core.impl.jobmodel.TISProcessNodeConfiguration"
            label="Job">
      </configuration>
      <configuration
            class="org.talend.mdm.repository.core.impl.eventmanager.EventManagerNodeConfiguration"
            label="Event Manager">
      </configuration>
            <configuration
            class="org.talend.mdm.repository.core.impl.serviceconfiguration.ServiceConfigurationNodeConfiguration"
            label="Service Configuration">
      </configuration>
            <configuration
                  class="org.talend.mdm.repository.core.impl.workspace.WSRootConfiguration"
                  label="WorkspaceRoot">
            </configuration>
   </extension>
   <extension
         point="org.talend.mdm.workbench.repositoryViewService">
          	 <repositoryViewService
                  class="org.talend.mdm.repository.core.service.MDMRepositoryViewServiceExt"
                  label="mdm repository service"> 
 	         </repositoryViewService> 
   </extension>
   
   
   
      <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.talend.mdm.repository.propertycontributer">
         <propertyCategory
               category="RepositoryViewObject"></propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.talend.mdm.repository.propertycontributer">         
         <propertyTab
               category="RepositoryViewObject"
               id="tab.main"
               label="Main">
         </propertyTab>
     
         <propertyTab
               category="RepositoryViewObject"
               id="tab.version"
               label="Version">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.talend.mdm.repository.propertycontributer">
         <propertySection
               class="org.talend.mdm.repository.ui.contributor.ViewObjectPropertyMainSection"
               id="section.main"
               enablesFor="1"
               filter="org.talend.mdm.repository.ui.contributor.RepositoryViewObjectFilter"
               tab="tab.main">
            <input
                  type="org.talend.core.model.repository.IRepositoryViewObject">
            </input>
         </propertySection>
         
         
         <propertySection
               class="org.talend.mdm.repository.ui.contributor.ViewObjectPropertyVersionSection"
               id="section.version"
               enablesFor="1"
               filter="org.talend.mdm.repository.ui.contributor.RepositoryViewObjectFilter"
               tab="tab.version">
            <input
                  type="org.talend.core.model.repository.IRepositoryViewObject">
            </input>
         </propertySection>         
      </propertySections>
   </extension>
   <extension
         point="org.talend.repository.after_import_project_action">
      <action
            class="org.talend.mdm.repository.ui.actions.importproject.MarkNodeAsNewAction">
      </action>
   </extension>
   
 
   <extension
        point="org.eclipse.ui.editors">
     <editor
           class="org.talend.mdm.repository.ui.starting.editor.MDMStartingEditor"
           default="false"
           icon="icons/default.gif"
           id="org.talend.mdm.repository.ui.starting.editor.MDMStartingEditor"
           name="starting">
     </editor>
  </extension>
   <extension
         point="org.talend.core.migrationTask">
      <projecttask
            beforeLogon="true"
            breaks="5.1.1"
            class="org.talend.mdm.repository.core.migrate.UpdateViewObjectPathMT"
            description="Update MDM View Objects"
            id="org.talend.mdm.repository.core.migrate.UpdateViewObjectPathMT"
            name="Update MDM View Objects"
            version="5.1.2">
      </projecttask>
            <projecttask
            beforeLogon="true"
            breaks="5.1.1"
            class="org.talend.mdm.repository.core.migrate.UpdateProcessObjectPathMT"
            description="Update MDM Process Objects"
            id="org.talend.mdm.repository.core.migrate.UpdateProcessObjectPathMT"
            name="Update MDM Process Objects"
            version="5.1.2">
      </projecttask>
            <projecttask
                  beforeLogon="true"
                  breaks="6.0.0"
                  class="org.talend.mdm.repository.core.migrate.RemoveRefNameMT"
                  id="org.talend.mdm.repository.core.migrate.RemoveRefNameMT"
                  name="Remove MDM Reference Item Name"
                  version="6.0.0">
            </projecttask>
            <projecttask
                  beforeLogon="true"
                  breaks="6.2.0"
                  class="org.talend.mdm.repository.core.migrate.UpdateOperatorMigrationTask"
                  id="org.talend.mdm.repository.core.migrate.UpdateOperatorMigrationTask"
                  name="Update Operator MigrationTask"
                  version="6.2.0">
            </projecttask>
      
   </extension>
   <extension
         point="org.talend.core.repository.login.task">
      <loginTask
            class="org.talend.mdm.repository.core.migrate.AssertFolderLogonTask"
            priority="normal">
      </loginTask>
   </extension>
   <extension
         point="org.talend.core.runtime.service">
               <Service
            class="org.talend.mdm.repository.ui.actions.process.MDMEventManagerAction"
            serviceId="IEventMgrService">
      </Service>
      <Service
            class="org.talend.mdm.repository.core.service.RemoveCommandService"
            serviceId="IRemoveCommandService">
      </Service>
      <Service
            class="org.talend.mdm.repository.utils.RepositoryTransformUtil"
            serviceId="ITransformService">
      </Service>
      <Service
            class="org.talend.mdm.repository.core.service.UpdateLastServerService"
            serviceId="IUpdateLastServerService">
      </Service>
      <Service
            class="org.talend.mdm.repository.core.service.ValidateService"
            serviceId="IValidateService">
      </Service>

   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.talend.mdm.repository.show.welcomeEditor.command"
            name="Getting started with Talend MDM">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.talend.mdm.repository.ui.starting.handler.ShowWelcomeEditorHandler"
            commandId="org.talend.mdm.repository.show.welcomeEditor.command">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:help?after=helpContents">
         <command
               commandId="org.talend.mdm.repository.show.welcomeEditor.command"
               id="org.talend.mdm.repository.show.welcomeEditor.menus.command"
               style="push">
         </command>
      </menuContribution>
   </extension>
   
      <extension
         point="org.talend.repository.items.importexport.handler">
      <importItemsProvider
            id="org.talend.mdm.common.importItemsProvider"
            name="MDM Common importer"
            priority="NORMAL">
         <importItemsHandler
               class="org.talend.mdm.repository.ui.wizards.imports.handlers.CommonMdmImportHandler">
            <parameter
                  name="type"
                  value="MDM.Menu,MDM.DataCluster,MDM.StoredProcedure,MDM.RoutingRule,MDM.EventManager,MDM.ServiceConfiguration,MDM.Resource,MDM.CustomForm,MDM.ServerDef">
            </parameter>
         </importItemsHandler>
      </importItemsProvider>
      <importItemsProvider
            id="org.talend.mdm.viewProcess.importItemsProvider"
            name="MDM View Process importer"
            priority="NORMAL">
         <importItemsHandler
               class="org.talend.mdm.repository.ui.wizards.imports.handlers.ViewProcessImportHandler">
            <parameter
                  name="type"
                  value="MDM.View,MDM.TransformerV2">
            </parameter>
         </importItemsHandler>
      </importItemsProvider>
      <importItemsProvider
            id="org.talend.mdm.datamodel.importItemsProvider"
            name="MDM DataModel importer"
            priority="NORMAL">
         <importItemsHandler
               class="org.talend.mdm.repository.ui.wizards.imports.handlers.DataModelImportHandler">
            <parameter
                  name="type"
                  value="MDM.DataModel">
            </parameter>
         </importItemsHandler>
      </importItemsProvider>

   </extension>
   <extension
            point="org.talend.mdm.workbench.infoholder">
         <externalInfoHolder
               class="org.talend.mdm.repository.ui.widgets.xmleditor.infoholder.RepositoryDataModelInfoHolder"
               type="datamodel">
         </externalInfoHolder>
         <externalInfoHolder
               class="org.talend.mdm.repository.ui.widgets.xmleditor.infoholder.RepositoryJobInfoHolder"
               type="job">
         </externalInfoHolder>
         <externalInfoHolder
               class="com.amalto.workbench.widgets.xmleditor.infoholder.TriggerAllCallJobVariableCandidatesHolder"
               type="callJobVariableCandidates">
         </externalInfoHolder>
      </extension>
   <extension
         point="org.talend.mdm.repository.repositoryResourceChangeListener">
      <listener
            class="org.talend.mdm.repository.core.impl.jobmodel.JobResourceListener"
            name="Job">
      </listener>
   </extension>
    <extension
         point="org.talend.core.runtime.librariesNeeded">
      <libraryNeeded
            context="MDM"
            language="java"
            message="Required for using this component."
            name="xstream-1.4.7.jar" mvn_uri="mvn:org.talend.libraries/xstream-1.4.7/6.1.0" 
            required="true">
      </libraryNeeded>
    </extension>
</plugin>
