<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.talend.core.routines_provider">
      <RoutinesProvider
            class="org.talend.designer.routines.mdmprovider.MdmRoutinesProviderCreator">
      </RoutinesProvider>
   </extension>

</plugin>
