<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
<extension
      id="product"
      point="org.eclipse.core.runtime.products">
   <product
         application="org.talend.rcp.branding.tombundle.application"
         name="%productName">
      <property
            name="startupForegroundColor"
            value="FFFFFF"/>
      <property
            name="startupMessageRect"
            value="12,209,415,12"/>
      <property
            name="startupProgressRect"
            value="12,223,411,14"/>
      <property
            name="windowImages"
            value="platform:/plugin/org.talend.rcp/icons/appli_16x16.gif,platform:/plugin/org.talend.rcp/icons/appli_32x32.gif,platform:/plugin/org.talend.rcp/icons/appli_48x48.gif"/>
      <property
            name="aboutImage"
            value="icons/about.jpg"/>
      <property
            name="aboutText"
            value="%productBlurb"/>
      <property
            name="preferenceCustomization"
            value="plugin_customization.ini"/>
      <property
            name="appName"
            value="%productName">
      </property>
   </product>
</extension>
   <extension
         point="org.eclipse.ui.intro.config">
      <config
            content="introContent.xml"
            id="org.talend.rcp.branding.tombundle.introConfigId"
            introId="org.talend.rcp.branding.tombundle.intro">
         <presentation
               home-page-id="root">
            <implementation
                  kind="html"
                  os="win32,linux,macosx"
                  style="content/shared.css">
            </implementation>
         </presentation>
      </config>
   </extension>
      <extension
         point="org.eclipse.ui.intro">
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            icon="platform:/plugin/org.talend.rcp/icons/appli_16x16.png"
            id="org.talend.rcp.branding.tombundle.intro">
      </intro>
      <introProductBinding
            introId="org.talend.rcp.branding.tombundle.intro"
            productId="org.talend.rcp.branding.tombundle.product">
      </introProductBinding>
   </extension>
      <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.talend.rcp.intro.Application">
         </run>
      </application>
   </extension>
      <extension
            point="org.talend.core.service">
         <Service
               class="org.talend.rcp.branding.tombundle.TOMBundleBrandingService"
               serviceId="org.talend.core.ui.branding.IBrandingService"/>
      </extension>
      <extension
         point="org.talend.core.talendperspectives">
         <TalendPerspective
            refPerspectiveId="org.talend.dataprofiler.DataProfilingPerspective"
            talendPerspectiveId="org.talend.rcp.DQPerspective">
         </TalendPerspective>
         <TalendPerspective
            refPerspectiveId="net.sourceforge.sqlexplorer.plugin.perspectives.SQLExplorerPluginPerspective"
            talendPerspectiveId="org.talend.rcp.DQExplorePerspective">
         </TalendPerspective>
      </extension>
</plugin>
