/*
 *Thank you M. Jack Slocum.
 */

/***************************************************************************************
  TREE
****************************************************************************************/
.leaf{background-image:url(/xtentismdm/secure/img/genericUI/leaf.gif);
    background-repeat:no-repeat;
    background-position:top left;
    padding-left:15px}


/***************************************************************************************
  SPECIFIC
****************************************************************************************/

.itemTree{
	font-size:13px;
	}

.inputTreeREADONLY{ background-color:f4f4f4;padding-left:1px;
border-color:f4f4f4;border-width:1;border-style:solid;font: 13px tahoma, verdana, helvetica;}

.inputTree{ border-color:787878;border-width:1;border-style:solid;padding-left:1px;font: 13px tahoma, verdana, helvetica;}

.inputTreeForeignKey{ background-color:f4f4f4;border-color:787878;border-width:1;border-style:solid;padding-left:1px;font: 13px tahoma, verdana, helvetica;}

.detailOpened{background-image:url(/xtentismdm/secure/img/close-detail2.gif);}

.detailClosed{background-image:url(/xtentismdm/secure/img/open-detail2.gif);}

.detailLabel{color:787878;font: 13px tahoma, verdana, helvetica;}

.gridGenericUI{font-family:tahoma,verdana;}

.dotted-line{border:1px;border-color:white;border-style:solid;font: 13px tahoma, verdana, helvetica;
/*border-bottom-width:1px;border-bottom-style:dotted*/
}

.left{float:left;text-align:left;width:150px;}
.leftField{float:left;text-align:left;left:20px;font-family:Verdana,Arial,Helvetica,sans-serif;}
.right{float:right;}
.buttonRightBottom{float:right;bottom:20px;right:20px}