<?xml version="1.0" encoding="UTF-8"?>

<plugin>
   <extension-point id="AvailableModel" name="AvailableModel" schema="schema/AvailableModel.exsd"/>
   <extension-point id="service" name="Service Registration" schema="schema/service.exsd"/>
   <extension-point id="extensibleXMLEditorPage" name="ExtensibleXMLEditorPage" schema="schema/extensibleXMLEditorPage.exsd"/>
   <extension-point id="repositoryViewService" name="repositoryViewService" schema="schema/repositoryViewService.exsd"/>
   <extension-point id="infoholder" name="infoholder" schema="schema/infoholder.exsd"/>

   <extension
         point="org.eclipse.ui.editors">

      <editor
            class="com.amalto.workbench.editors.XObjectEditor"
            default="false"
            icon="icons/appli_16x16.gif"
            id="com.amalto.workbench.editors.XObjectEditor"
            name="com.amalto.workbench.editors.XObjectEditor"/>
      <editor
            class="com.amalto.workbench.editors.XObjectBrowser"
            default="false"
            icon="icons/appli_16x16.gif"
            id="com.amalto.workbench.editors.XObjectBrowser"
            name="com.amalto.workbench.editors.XObjectBrowser"/>
      <editor
            class="com.amalto.workbench.editors.xsdeditor.XSDEditor"
            default="false"
            icon="icons/datamodel_white.png"
            id="com.amalto.workbench.editors.xsdeditor.XSDEditor"
            name="com.amalto.workbench.editors.xsdeditor.XSDEditor">
      </editor>
      <editor
            class="com.amalto.workbench.editors.xslteditor.XSLTEditor"
            default="true"
            extensions="xsl,xslt"
            icon="icons/xslt_file.gif"
            id="com.amalto.workbench.editors.xslteditor.XSLTEditor"
            name="com.amalto.workbench.editors.xslteditor.XSLTEditor">
         <contentTypeBinding
               contentTypeId="xslsource">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.amalto.workbench.views.MDMPerspective"
            fixed="false"
            icon="icons/MDM-perspective_16px.png"
            id="org.talend.mdm.perspective"
            name="MDM">
      </perspective>
   </extension>
   <!-- add the following to let MDM perspective to be show in TIS/TDQ -->
  <extension
         point="org.talend.core.talendperspectives">
      <TalendPerspective
            refPerspectiveId="org.talend.mdm.perspective"
            talendPerspectiveId="org.talend.mdm.tis.perspective">
      </TalendPerspective>
   </extension>
  <extension
        point="org.talend.mdm.workbench.AvailableModel">
     <model
           class="com.amalto.workbench.availablemodel.JobAvailableModel">
     </model>
  </extension>
  <extension
        point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
     <propertyContributor
           contributorId="org.talend.mdm.workbench.propertyContributor.datamodel"
           labelProvider="com.amalto.workbench.detailtabs.contributor.DataModelPropLabelProvider">
        <propertyCategory
              category="Entity">
        </propertyCategory>
        <propertyCategory
              category="Element">
        </propertyCategory>
        <propertyCategory
              category="SimpleType">
        </propertyCategory>
        <propertyCategory
              category="ComplexType">
        </propertyCategory>
     </propertyContributor>
  </extension>
  <extension
        name="Entity Tabs"
        point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
     <propertyTabs
           contributorId="org.talend.mdm.workbench.propertyContributor.datamodel">
        <propertyTab
              category="Entity"
              id="org.talend.mdm.workbench.properties.entity.tab.main"
              label="Main">
        </propertyTab>
        <propertyTab
              afterTab="org.talend.mdm.workbench.properties.entity.tab.main"
              category="Entity"
              id="org.talend.mdm.workbench.properties.entity.tab.presentation"
              label="Presentation">
        </propertyTab>
        <propertyTab
              afterTab="org.talend.mdm.workbench.properties.entity.tab.presentation"
              category="Entity"
              id="org.talend.mdm.workbench.properties.entity.tab.accessrights"
              label="Access Rights">
        </propertyTab>
        <propertyTab
              afterTab="org.talend.mdm.workbench.properties.entity.tab.accessrights"
              category="Entity"
              id="org.talend.mdm.workbench.properties.entity.tab.relationship"
              label="Relationship">
        </propertyTab>
        <propertyTab
              afterTab="org.talend.mdm.workbench.properties.entity.tab.relationship"
              category="Entity"
              id="org.talend.mdm.workbench.properties.entity.tab.rules"
              label="Rules">
        </propertyTab>
        <propertyTab
              afterTab="org.talend.mdm.workbench.properties.entity.tab.rules"
              category="Entity"
              id="org.talend.mdm.workbench.properties.entity.tab.extra"
              label="Extra">
        </propertyTab>
     </propertyTabs>
  </extension>
  <extension
        name="Element Tabs"
        point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
     <propertyTabs
           contributorId="org.talend.mdm.workbench.propertyContributor.datamodel">
        <propertyTab
              category="Element"
              id="org.talend.mdm.workbench.properties.element.tab.main"
              label="Main">
        </propertyTab>
        <propertyTab
              afterTab="org.talend.mdm.workbench.properties.element.tab.main"
              category="Element"
              id="org.talend.mdm.workbench.properties.element.tab.presentation"
              label="Presentation">
        </propertyTab>
        <propertyTab
              afterTab="org.talend.mdm.workbench.properties.element.tab.presentation"
              category="Element"
              id="org.talend.mdm.workbench.properties.element.tab.accessrights"
              label="Access Rights">
        </propertyTab>
        <propertyTab
              afterTab="org.talend.mdm.workbench.properties.element.tab.accessrights"
              category="Element"
              id="org.talend.mdm.workbench.properties.element.tab.rules"
              label="Rules">
        </propertyTab>
        <propertyTab
              afterTab="org.talend.mdm.workbench.properties.element.tab.rules"
              category="Element"
              id="org.talend.mdm.workbench.properties.element.tab.relationship"
              label="Relationship">
        </propertyTab>
     </propertyTabs>
  </extension>
  <extension
        name="SimpleType Tabs"
        point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
     <propertyTabs
           contributorId="org.talend.mdm.workbench.propertyContributor.datamodel">
        <propertyTab
              category="SimpleType"
              id="org.talend.mdm.workbench.properties.simpletype.tab.main"
              label="Main">
        </propertyTab>
     </propertyTabs>
  </extension>
  <extension
        name="ComplexType Tabs"
        point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
     <propertyTabs
           contributorId="org.talend.mdm.workbench.propertyContributor.datamodel">
        <propertyTab
              category="ComplexType"
              id="org.talend.mdm.workbench.properties.complextype.tab.main"
              label="Main">
        </propertyTab>
     </propertyTabs>
  </extension>
  <extension
        name="Entity Sections"
        point="org.eclipse.ui.views.properties.tabbed.propertySections">
     <propertySections
           contributorId="org.talend.mdm.workbench.propertyContributor.datamodel">
        <propertySection
              class="com.amalto.workbench.detailtabs.sections.EntityMainSection"
              id="org.talend.mdm.workbench.properties.entity.section.main"
              enablesFor="1"
              tab="org.talend.mdm.workbench.properties.entity.tab.main">
           <input
                 type="org.eclipse.xsd.XSDElementDeclaration">
           </input>
        </propertySection>
        <propertySection
              afterSection="org.talend.mdm.workbench.properties.entity.section.main"
              class="com.amalto.workbench.detailtabs.sections.CommitSection"
              id="org.talend.mdm.workbench.properties.entity.section.main.commit"
              enablesFor="1"
              tab="org.talend.mdm.workbench.properties.entity.tab.main">
           <input
                 type="org.eclipse.xsd.XSDElementDeclaration">
           </input>
        </propertySection>        
        <propertySection
              class="com.amalto.workbench.detailtabs.sections.PrsentationLabelSection"
              id="org.talend.mdm.workbench.properties.entity.section.presentation.label"
              enablesFor="1"
              tab="org.talend.mdm.workbench.properties.entity.tab.presentation">
           <input
                 type="org.eclipse.xsd.XSDElementDeclaration">
           </input>
        </propertySection>
        <propertySection
              afterSection="org.talend.mdm.workbench.properties.entity.section.presentation.label"
              class="com.amalto.workbench.detailtabs.sections.PresentationDescriptionSection"
              id="org.talend.mdm.workbench.properties.entity.section.presentation.description"
              enablesFor="1"
              tab="org.talend.mdm.workbench.properties.entity.tab.presentation">
           <input
                 type="org.eclipse.xsd.XSDElementDeclaration">
           </input>
        </propertySection>
        <propertySection
              afterSection="org.talend.mdm.workbench.properties.entity.section.presentation.description"
              class="com.amalto.workbench.detailtabs.sections.CommitSection"
              id="org.talend.mdm.workbench.properties.entity.section.presentation.commit"
              enablesFor="1"
              tab="org.talend.mdm.workbench.properties.entity.tab.presentation">
           <input
                 type="org.eclipse.xsd.XSDElementDeclaration">
           </input>
        </propertySection>
        <propertySection
              class="com.amalto.workbench.detailtabs.sections.LookupFieldsSection"
              id="org.talend.mdm.workbench.properties.entity.section.extra.lookupfields"
              enablesFor="1"
              tab="org.talend.mdm.workbench.properties.entity.tab.extra">
           <input
                 type="org.eclipse.xsd.XSDElementDeclaration">
           </input>
        </propertySection>
                <propertySection
                      afterSection="org.talend.mdm.workbench.properties.entity.section.extra.lookupfields"
                      class="com.amalto.workbench.detailtabs.sections.EntityPKInfosSection"
                      id="org.talend.mdm.workbench.properties.entity.section.extra.pkinfos"
                      enablesFor="1"
                      tab="org.talend.mdm.workbench.properties.entity.tab.presentation">
           <input
                 type="org.eclipse.xsd.XSDElementDeclaration">
           </input>
        </propertySection>
        <propertySection
              afterSection="org.talend.mdm.workbench.properties.entity.section.extra.pkinfos"
              class="com.amalto.workbench.detailtabs.sections.CommitSection"
              id="org.talend.mdm.workbench.properties.entity.section.extra.commit"
              enablesFor="1"
              tab="org.talend.mdm.workbench.properties.entity.tab.extra">
           <input
                 type="org.eclipse.xsd.XSDElementDeclaration">
           </input>
        </propertySection>
     </propertySections>
  </extension>
  <extension
        name="Element Sections"
        point="org.eclipse.ui.views.properties.tabbed.propertySections">
     <propertySections
           contributorId="org.talend.mdm.workbench.propertyContributor.datamodel">
        <propertySection
              class="com.amalto.workbench.detailtabs.sections.ElementFKSection"
              id="org.talend.mdm.workbench.properties.element.section.relationship.fk"
              enablesFor="1"
              tab="org.talend.mdm.workbench.properties.element.tab.relationship">
           <input
                 type="org.eclipse.xsd.XSDParticle">
           </input>
        </propertySection>
        <propertySection
              afterSection="org.talend.mdm.workbench.properties.element.section.relationship.fk"
              class="com.amalto.workbench.detailtabs.sections.ElementFKFilterSection"
              id="org.talend.mdm.workbench.properties.element.section.relationship.fkfilter"
              enablesFor="1"
              tab="org.talend.mdm.workbench.properties.element.tab.relationship">
           <input
                 type="org.eclipse.xsd.XSDParticle">
           </input>
        </propertySection>
        <propertySection
              afterSection="org.talend.mdm.workbench.properties.element.section.relationship.fkfilter"
              class="com.amalto.workbench.detailtabs.sections.ElementFKInfosSection"
              id="org.talend.mdm.workbench.properties.element.section.relationship.fkinfos"
              enablesFor="1"
              tab="org.talend.mdm.workbench.properties.element.tab.relationship">
           <input
                 type="org.eclipse.xsd.XSDParticle">
           </input>
        </propertySection>
        <propertySection
              afterSection="org.talend.mdm.workbench.properties.element.section.relationship.fkinfos"
              class="com.amalto.workbench.detailtabs.sections.CommitSection"
              id="org.talend.mdm.workbench.properties.element.section.relationship.commit"
              enablesFor="1"
              tab="org.talend.mdm.workbench.properties.element.tab.relationship">
           <input
                 type="org.eclipse.xsd.XSDParticle">
           </input>
        </propertySection>
        <propertySection
              class="com.amalto.workbench.detailtabs.sections.PrsentationLabelSection"
              id="org.talend.mdm.workbench.properties.element.section.presentation.label"
              enablesFor="1"
              tab="org.talend.mdm.workbench.properties.element.tab.presentation">
           <input
                 type="org.eclipse.xsd.XSDParticle">
           </input>
        </propertySection>
        <propertySection
              afterSection="org.talend.mdm.workbench.properties.element.section.presentation.label"
              class="com.amalto.workbench.detailtabs.sections.PresentationDescriptionSection"
              id="org.talend.mdm.workbench.properties.element.section.presentation.description"
              enablesFor="1"
              tab="org.talend.mdm.workbench.properties.element.tab.presentation">
           <input
                 type="org.eclipse.xsd.XSDParticle">
           </input>
        </propertySection>
        <propertySection
              afterSection="org.talend.mdm.workbench.properties.element.section.presentation.description"
              class="com.amalto.workbench.detailtabs.sections.PresentationFacetMsgSection"
              id="org.talend.mdm.workbench.properties.element.section.presentation.facetmsg"
              enablesFor="1"
              tab="org.talend.mdm.workbench.properties.element.tab.presentation">
           <input
                 type="org.eclipse.xsd.XSDParticle">
           </input>
        </propertySection>
        <propertySection
              afterSection="org.talend.mdm.workbench.properties.element.section.presentation.facetmsg"
              class="com.amalto.workbench.detailtabs.sections.PresentationDisplayFormatSection"
              id="org.talend.mdm.workbench.properties.element.section.presentation.displayformat"
              enablesFor="1"
              tab="org.talend.mdm.workbench.properties.element.tab.presentation">
           <input
                 type="org.eclipse.xsd.XSDParticle">
           </input>
        </propertySection>
        <propertySection
              afterSection="org.talend.mdm.workbench.properties.element.section.presentation.displayformat"
              class="com.amalto.workbench.detailtabs.sections.CommitSection"
              id="org.talend.mdm.workbench.properties.element.section.presentation.commit"
              enablesFor="1"
              tab="org.talend.mdm.workbench.properties.element.tab.presentation">
           <input
                 type="org.eclipse.xsd.XSDParticle">
           </input>
        </propertySection>
        <propertySection
              class="com.amalto.workbench.detailtabs.sections.ElementMainSection"
              id="org.talend.mdm.workbench.properties.element.section.main"
              enablesFor="1"
              tab="org.talend.mdm.workbench.properties.element.tab.main">
           <input
                 type="org.eclipse.xsd.XSDParticle">
           </input>
        </propertySection>
        <propertySection
              afterSection="org.talend.mdm.workbench.properties.element.section.main"
              class="com.amalto.workbench.detailtabs.sections.CommitSection"
              id="org.talend.mdm.workbench.properties.element.section.main.commit"
              enablesFor="1"
              tab="org.talend.mdm.workbench.properties.element.tab.main">
           <input
                 type="org.eclipse.xsd.XSDParticle">
           </input>
        </propertySection>

     </propertySections>
  </extension>
  <extension
        name="Simpletype Sections"
        point="org.eclipse.ui.views.properties.tabbed.propertySections">
     <propertySections
           contributorId="org.talend.mdm.workbench.propertyContributor.datamodel">
        <propertySection
              class="com.amalto.workbench.detailtabs.sections.SimpleTypeMainSection"
              id="org.talend.mdm.workbench.properties.simpletype.section.main"
              enablesFor="1"
              tab="org.talend.mdm.workbench.properties.simpletype.tab.main">
           <input
                 type="org.eclipse.xsd.XSDSimpleTypeDefinition">
           </input>
        </propertySection>
        <propertySection
              afterSection="org.talend.mdm.workbench.properties.simpletype.section.main"
              class="com.amalto.workbench.detailtabs.sections.CommitSection"
              id="org.talend.mdm.workbench.properties.simpletype.section.main.commit"
              enablesFor="1"
              tab="org.talend.mdm.workbench.properties.simpletype.tab.main">
           <input
                 type="org.eclipse.xsd.XSDSimpleTypeDefinition">
           </input>
        </propertySection>
     </propertySections>
  </extension>
  <extension
        name="Complextype Sections"
        point="org.eclipse.ui.views.properties.tabbed.propertySections">
     <propertySections
           contributorId="org.talend.mdm.workbench.propertyContributor.datamodel">
        <propertySection
              class="com.amalto.workbench.detailtabs.sections.ComplexTypeMainSection"
              id="org.talend.mdm.workbench.properties.complextype.section.main"
              enablesFor="1"
              tab="org.talend.mdm.workbench.properties.complextype.tab.main">
           <input
                 type="org.eclipse.xsd.XSDComplexTypeDefinition">
           </input>
        </propertySection>
        <propertySection
              afterSection="org.talend.mdm.workbench.properties.complextype.section.main"
              class="com.amalto.workbench.detailtabs.sections.CommitSection"
              id="org.talend.mdm.workbench.properties.complextype.section.main.commit"
              enablesFor="1"
              tab="org.talend.mdm.workbench.properties.complextype.tab.main">
           <input
                 type="org.eclipse.xsd.XSDComplexTypeDefinition">
           </input>
        </propertySection>
     </propertySections>
  </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="Format XML Source Code"
            id="org.talend.mdm.xml.command.format"
            name="Format">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.talend.mdm.xml.command.format"
            contextId="org.eclipse.ui.contexts.dialogAndWindow"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+F">
      </key>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.amalto.workbench.preferences.WorkbenchPreferenceInitializer">
      </initializer>
   </extension>
  <extension
         point="org.talend.core.runtime.librariesNeeded">
      <libraryNeeded
            context="plugin:org.talend.mdm.workbench"
            language="java"
            message="Required for using this component."
            name="activation.jar" mvn_uri="mvn:org.talend.libraries/activation/6.0.0" 
            required="true">
      </libraryNeeded>
      <libraryNeeded
            context="plugin:org.talend.mdm.workbench"
            language="java"
            message="Required for using this component."
            name="dtdparser121.jar" mvn_uri="mvn:org.talend.libraries/dtdparser121/6.1.0" 
            required="true">
      </libraryNeeded>
            <libraryNeeded
            context="plugin:org.talend.mdm.workbench"
            language="java"
            message="Required for using this component."
            name="mail.jar" mvn_uri="mvn:org.talend.libraries/mail/6.0.0" 
            required="true">
      </libraryNeeded>
      <libraryNeeded
            context="plugin:org.talend.mdm.workbench"
            language="java"
            message="Required for using this component."
            name="saaj-api.jar" mvn_uri="mvn:org.talend.libraries/saaj-api/6.0.0" 
            required="true">
      </libraryNeeded>
      <libraryNeeded
               context="plugin:org.talend.mdm.workbench"
               language="java"
                           message="Required for using this component."
               name="saaj-impl.jar" mvn_uri="mvn:org.talend.libraries/saaj-impl/6.0.0" 
               required="true">
      </libraryNeeded>
      <libraryNeeded
            context="plugin:org.talend.mdm.workbench"
            language="java"
            message="Required for using this component."
            name="wsdl4j-1.5.1.jar" mvn_uri="mvn:org.talend.libraries/wsdl4j-1.5.1/6.0.0" 
            required="true">
      </libraryNeeded>
   </extension>
  <extension
        point="org.talend.core.repository.login.task">
     <loginTask
           class="com.amalto.workbench.task.CheckMissingJarLoginTask"
           priority="normal">
     </loginTask>
  </extension>
  <extension
        point="org.talend.core.ui.showPerspectiveAtStartup">
     <perspective
           appearsAfter="org.talend.dataprofiler.DataProfilingPerspective | org.talend.rcp.perspective"
           id="org.talend.mdm.perspective">
     </perspective>
  </extension> 

</plugin>
