<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.talend.core.root"
            class="org.talend.mdm.workbench.serverexplorer.ui.views.ServerExplorer"
            icon="icons/server.png"
            id="org.talend.mdm.workbench.serverexplorer.ui.views.ServerExplorer"
            name="%View.ServerName">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="org.talend.mdm.workbench.serverexplorer.viewContribution"
            targetID="org.talend.mdm.workbench.serverexplorer.ui.views.ServerExplorer">
         <action
               class="org.talend.mdm.workbench.serverexplorer.ui.actions.RefreshServerDefAction"
               icon="icons/refresh.gif"
               id="org.talend.mdm.workbench.serverexplorer.ui.actions.RefreshServerDefAction"
               label="%Action.Refresh"
               style="push"
               toolbarPath="ServerExplorerToolBar">
         </action>
         <action
               class="org.talend.mdm.workbench.serverexplorer.ui.actions.AddServerDefAction"
               icon="icons/add_obj.gif"
               id="org.talend.mdm.workbench.serverexplorer.ui.actions.AddServerDefAction"
               label="%AddServerAction.label"
               style="push"
               toolbarPath="ServerExplorerToolBar"
               tooltip="%AddServerAction.tooltip">
         </action>
        
         
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.talend.mdm.perspective">
         <view
               id="org.talend.mdm.workbench.serverexplorer.ui.views.ServerExplorer"
               minimized="false"
               ratio="0.7"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               visible="true">
         </view>
		<view
               closeable="true"
               id="org.eclipse.ui.views.PropertySheet"
               minimized="false"
               moveable="true"
               relationship="stack"
               relative="org.talend.mdm.workbench.serverexplorer.ui.views.ServerExplorer"
               showTitle="true"
               visible="false">
         </view>
         <view
               closeable="true"
               id="org.talend.mdm.repository.ui.views.MDMProblemView"
               minimized="false"
               relationship="stack"
               relative="org.talend.mdm.workbench.serverexplorer.ui.views.ServerExplorer"
               showTitle="true"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.talend.core.repository.repository_node_provider">
      <repositoryNode
            class="org.talend.mdm.workbench.serverexplorer.core.ServerDefRepositoryNode"
            folder="metadata/MDMServerDef"
            isResouce="true"
            label="Server Definition  "
            products="MDM"
            type="MDM.ServerDef">
      </repositoryNode>
   </extension>
   <extension
         point="org.talend.core.repository.repository_content">
      <RepositoryContent
            class="org.talend.mdm.workbench.serverexplorer.core.ServerDefRepositoryContentHandler">
      </RepositoryContent>
   </extension>
   <extension
         point="org.talend.core.runtime.service">
      <Service
            class="org.talend.mdm.workbench.serverexplorer.core.ServerDefService"
            serviceId="ILegendServerDefService">
      </Service>
   </extension>
   <extension
         point="org.eclipse.ui.console.consoleFactories">
      <consoleFactory
            class="org.talend.mdm.workbench.serverexplorer.console.MDMServerLogConsoleFactory"
            label="%MDMServerLogConsoleFactory.label">
      </consoleFactory>
   </extension>
   <extension
         point="org.eclipse.ui.console.consolePageParticipants">
      <consolePageParticipant
            class="org.talend.mdm.workbench.serverexplorer.console.MDMServerConsolePageParticipant"
            id="org.talend.mdm.workbench.serverexplorer.mdmServeConsolePageParticipant">
         <enablement>
            <instanceof
                  value="org.talend.mdm.workbench.serverexplorer.console.MDMServerMessageConsole">
            </instanceof></enablement>
      </consolePageParticipant>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.talend.mdm.repository.ui.preferences.AutoDeployPreferencePage"
            class="org.talend.mdm.workbench.serverexplorer.console.MDMServerConsolePreferencePage"
            id="org.talend.mdm.workbench.serverexplorer.page"
            name="%MDMServerPrefsPage.name">
      </page>
   </extension>
     <extension
        point="org.talend.core.migrationTask">
     <projecttask
           beforeLogon="false"
           breaks="7.3.1"
           class="org.talend.mdm.workbench.serverexplorer.migration.UnifyPasswordEncryption4MDMServerDefMigrationTask"
           description="Unify the entryption for pass fields of parameters of MDM Server Definition"
           id="org.talend.mdm.workbench.serverexplorer.migration.UnifyPasswordEncryption4MDMServerDefMigrationTask2019-10-10"
           name="UnifyPasswordEncryption4MDMServerDefMigrationTask"
           version="7.3.1">
     </projecttask>
  </extension>
</plugin>
