<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
>
   <extension-point id="repositoryConfiguration" name="repositoryConfiguration" schema="schema/repositoryConfiguration.exsd"/>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.talend.mdm.perspective">
         <view
               closeable="true"
               id="org.talend.repository.views.repository"
               minimized="false"
               moveable="true"
               relationship="stack"
               relative="org.talend.mdm.workbench.views.ServerView"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.talend.core.repository.repository_node_provider">
      <repositoryNode
            class="org.talend.mdm.repository.core.nodes.MenuRepositoryNode"
            folder="MDM/menu"
            isResouce="true"
            label="Menu"
            products="MDM"
            type="MDM.Menu">
      </repositoryNode>
      <repositoryNode
            class="org.talend.mdm.repository.core.nodes.RoleRepositoryNode"
            folder="MDM/role"
            isResouce="true"
            label="Role"
            products="MDM"
            type="MDM.Role">
      </repositoryNode>
      <repositoryNode
            class="org.talend.mdm.repository.core.nodes.CategoryRepositoryNode"
            folder="/"
            isResouce="false"
            label="Category"
            products="MDM"
            type="MDM.Category">
      </repositoryNode>
      <repositoryNode
            class="org.talend.mdm.repository.core.nodes.DataModelRepositoryNode"
            folder="MDM/datamodel"
            isResouce="true"
            label="Data Model"
            products="MDM"
            type="MDM.DataModel">
      </repositoryNode>
      <repositoryNode
            class="org.talend.mdm.repository.core.nodes.DataClusterRepositoryNode"
            folder="MDM/datacontainer"
            isResouce="true"
            label="Data Container"
            products="MDM"
            type="MDM.DataCluster">
      </repositoryNode>
      <repositoryNode
            class="org.talend.mdm.repository.core.nodes.StoredProcedureRepositoryNode"
            folder="MDM/storedprocedure"
            isResouce="true"
            label="Stored Procedure"
            products="MDM"
            type="MDM.StoredProcedure">
      </repositoryNode>
      <repositoryNode
            class="org.talend.mdm.repository.core.nodes.UniverseRepositoryNode"
            folder="MDM/version"
            isResouce="true"
            label="Version"
            products="MDM"
            type="MDM.Universe">
      </repositoryNode>
      <repositoryNode
            class="org.talend.mdm.repository.core.nodes.SynchronizationPlanRepositoryNode"
            folder="MDM/synchronizationplan"
            isResouce="true"
            label="Synchronization Plan"
            products="MDM"
            type="MDM.SynchronizationPlan">
      </repositoryNode>
      <repositoryNode
            class="org.talend.mdm.repository.core.nodes.ViewRepositoryNode"
            folder="MDM/view"
            isResouce="true"
            label="View"
            products="MDM"
            type="MDM.View">
      </repositoryNode>
      <repositoryNode
            class="org.talend.mdm.repository.core.nodes.WorkflowDeployRepositoryNode"
            folder="MDM/workflow"
            label="Workflow"
            products="MDM"
            type="MDM.Workflow">
      </repositoryNode>
   </extension>
   <extension
         point="org.talend.core.repository.repository_content">
      <RepositoryContent
            class="org.talend.mdm.repository.core.ServerObjectRepositoryContentHandler">
      </RepositoryContent>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.talend.mdm.repository.ui.navigator.MDMRepositoryView"
            icon="icons/default.gif"
            id="org.talend.mdm.repository.ui.navigator.MDMRepositoryView"
            name="MDM Repository"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.talend.mdm.perspective">
         <view
               closeable="true"
               id="org.talend.mdm.repository.ui.navigator.MDMRepositoryView"
               minimized="false"
               moveable="true"
               ratio="0.5"
               relationship="right"
               relative="org.talend.mdm.workbench.views.ServerView"
               showTitle="true"
               visible="true">
         </view>
         <!--
         <view
               id="org.talend.repository.views.repository"
               minimized="false"
               relationship="stack"
               relative="org.talend.mdm.repository.ui.navigator.MDMRepositoryView">
         </view>
         -->
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.talend.mdm.repository.ui.navigator.MDMRepositoryContentProvider"
            icon="icons/default.gif"
            id="org.talend.mdm.workbench.repository.navigatorContent"
            labelProvider="org.talend.mdm.repository.ui.navigator.MDMRepositoryLabelProvider"
            name="MDMNavigatorContent">
         <enablement>
            <or>
               <instanceof
                     value="org.talend.core.model.repository.IRepositoryViewObject">
               </instanceof>
            </or>
         </enablement>
         <actionProvider
               class="org.talend.mdm.repository.ui.navigator.MDMRepositoryActionProvider"
               id="org.talend.mdm.repository.ui.navigator.MDMRepositoryActionProvider">
         </actionProvider>
         <commonSorter
               class="org.talend.mdm.repository.ui.navigator.MDMRepositoryViewerSorter">
         </commonSorter>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="org.talend.mdm.repository.ui.navigator.MDMRepositoryView">
         <popupMenu>
            <insertionPoint
                  name="group.export"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.edit"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.server"
                  separator="true">
            </insertionPoint>
         </popupMenu>
      </viewer>
      <viewerContentBinding
            viewerId="org.talend.mdm.repository.ui.navigator.MDMRepositoryView">
         <includes>
            <contentExtension
                  isRoot="true"
                  pattern="org.talend.mdm.workbench.repository.navigatorContent">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.talend.mdm.repository.repositoryConfiguration">
      <configuration
            class="org.talend.mdm.repository.core.impl.datacontainer.DataClusterNodeConfiguration"
            label="Data Container">
      </configuration>
      <configuration
            class="org.talend.mdm.repository.core.impl.datamodel.DataModelNodeConfiguration"
            label="Data Model">
      </configuration>
      <configuration
            class="org.talend.mdm.repository.core.impl.menu.MenuNodeConfiguration"
            label="Menu">
      </configuration>
      <configuration
            class="org.talend.mdm.repository.core.impl.role.RoleNodeConfiguration"
            label="Role">
      </configuration>
      <configuration
            class="org.talend.mdm.repository.core.impl.storedprocedure.StoredProcedureNodeConfiguration"
            label="Stored Procedure">
      </configuration>
      <configuration
            class="org.talend.mdm.repository.core.impl.universe.UniverseNodeConfiguration"
            label="Version">
      </configuration>
      <configuration
            class="org.talend.mdm.repository.core.impl.synchronizationplan.SynchronizationPlanNodeConfiguration"
            label="Synchronization Plan">
      </configuration>
      <configuration
            class="org.talend.mdm.repository.core.impl.view.ViewNodeConfiguration"
            label="View">
      </configuration>
      <configuration
            class="org.talend.mdm.repository.core.impl.workflow.WorkflowNodeConfiguration"
            label="Workflow">
      </configuration>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            class="org.talend.mdm.repository.ui.navigator.MDMServerDecorator"
            id="org.talend.mdm.repository.ui.navigator.MDMServerDecorator"
            label="MDMServerDecorator"
            lightweight="true"
            objectClass="org.talend.core.model.repository.IRepositoryViewObject"
            state="true">
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.talend.mdm.repository.ui.editors.XObjectEditor2"
            default="false"
            icon="icons/default.gif"
            id="org.talend.mdm.repository.ui.editors.XObjectEditor2"
            name="org.talend.mdm.repository.ui.editors.XObjectEditor2">
      </editor>
      <editor
            class="org.talend.mdm.repository.ui.editors.XSDEditor2"
            default="false"
            icon="icons/datamodel.png"
            id="org.talend.mdm.repository.ui.editors.XSDEditor2"
            name="org.talend.mdm.repository.ui.editors.XSDEditor2">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="org.talend.mdm.repository.viewContribution"
            targetID="org.talend.mdm.repository.ui.navigator.MDMRepositoryView">
         <action
               class="org.talend.mdm.repository.ui.actions.FilterRepositoryViewNodeAction"
               icon="icons/filter.gif"
               id="org.talend.mdm.repository.ui.actions.FilterRepositoryViewNodeAction"
               label="filter"
               style="toggle"
               toolbarPath="repositoryView"
               tooltip="filter object">
         </action>
         <!--
         <menu
               id="org.talend.mdm.repository.menu.filter"
               label="Config Filter..."
               path="filter">
         </menu>-->
         <action
               class="org.talend.mdm.repository.ui.actions.ConfigRepositoryFilterAction"
               icon="icons/filter.gif"
               id="org.talend.mdm.repository.action2"
               label="Config Filter..."
               menubarPath="filter">
         </action>
      </viewContribution>
   </extension>
</plugin>
