<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
>
   <extension-point id="repositoryConfiguration" name="repositoryConfiguration" schema="schema/repositoryConfiguration.exsd"/>
   <extension-point id="actionProviderConfiguration" name="actionProviderConfiguration" schema="schema/actionProviderConfiguration.exsd"/>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="org.talend.mdm.repository.context"
            name="MDM Repository View"
            parentId="org.eclipse.ui.contexts.window">
      </context>
   </extension>
  <!--
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.talend.mdm.perspective">
         <view
               closeable="true"
               id="org.talend.repository.views.repository"
               minimized="false"
               moveable="true"
               relationship="stack"
               relative="org.talend.mdm.workbench.views.ServerView"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   -->
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.talend.core.root"
            class="org.talend.mdm.repository.ui.navigator.MDMRepositoryView"
            icon="icons/default.gif"
            id="org.talend.mdm.repository.ui.navigator.MDMRepositoryView"
            name="%view.MDMRepositoryView.name"
            restorable="true">
      </view>
   </extension>
   
      <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.talend.mdm.repository.ui.preferences.AutoDeployPreferencePage"
            id="org.talend.mdm.repository.ui.preferences.AutoDeployPreferencePage"
            category="org.talend.mdm.repository.ui.preferences.RepositoryPreferencePage"
            name="MDM"/> 
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.talend.mdm.repository.ui.preferences.RepositoryPreferencePage"
            id="org.talend.mdm.repository.ui.preferences.RepositoryPreferencePage"
            category="org.talend.core.prefs"
            name="Repository"/> 
   </extension>
   
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.talend.mdm.perspective">
         <view
               closeable="true"
               id="org.talend.mdm.repository.ui.navigator.MDMRepositoryView"
               minimized="false"
               moveable="true"
               ratio="0.3"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               visible="true">
         </view>
         <view
               closeable="true"
               id="org.talend.mdm.workbench.views.ServerView"
               minimized="false"
               moveable="true"
               relationship="stack"
               relative="org.talend.mdm.repository.ui.navigator.MDMRepositoryView"
               showTitle="true"
               visible="false">
         </view>

         <!--
         <view
               id="org.talend.repository.views.repository"
               minimized="false"
               relationship="stack"
               relative="org.talend.mdm.repository.ui.navigator.MDMRepositoryView">
         </view>
         -->
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.talend.mdm.repository.ui.navigator.MDMRepositoryContentProvider"
            icon="icons/default.gif"
            id="org.talend.mdm.workbench.repository.navigatorContent"
            labelProvider="org.talend.mdm.repository.ui.navigator.MDMRepositoryLabelProvider"
            name="MDMNavigatorContent">
         <enablement>
            <or>
               <instanceof
                     value="org.talend.core.model.repository.IRepositoryViewObject">
               </instanceof>
            </or>
         </enablement>
         <actionProvider
               class="org.talend.mdm.repository.ui.navigator.MDMRepositoryActionProvider"
               id="org.talend.mdm.repository.ui.navigator.MDMRepositoryActionProvider">
         </actionProvider>
         <commonSorter
               class="org.talend.mdm.repository.ui.navigator.MDMRepositoryViewerSorter">
         </commonSorter>
         <dropAssistant
               class="org.talend.mdm.repository.core.dnd.RepositoryDropAssistant"
               id="org.talend.mdm.repository.core.dnd.RepositoryDropAssistant">
            <possibleDropTargets></possibleDropTargets>
         </dropAssistant>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="org.talend.mdm.repository.ui.navigator.MDMRepositoryView">
         <popupMenu>
            <insertionPoint
                  name="group.edit"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.common"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.server"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.export"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.deploy"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.svn"
                  separator="true">
            </insertionPoint>
         </popupMenu>
      </viewer>
      <viewerContentBinding
            viewerId="org.talend.mdm.repository.ui.navigator.MDMRepositoryView">
         <includes>
            <contentExtension
                  isRoot="true"
                  pattern="org.talend.mdm.workbench.repository.navigatorContent">
            </contentExtension>
            <contentExtension
                  isRoot="true"
                  pattern="org.talend.mdm.repository.linkHelper">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <dragAssistant
            class="org.talend.mdm.repository.core.dnd.RepositoryDragAssistant"
            viewerId="org.talend.mdm.repository.ui.navigator.MDMRepositoryView">
      </dragAssistant>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.linkHelper">
      <linkHelper
            class="org.talend.mdm.repository.ui.navigator.MDMRepositoryLinkHelper"
            id="org.talend.mdm.repository.linkHelper">
         <editorInputEnablement>
            <instanceof
                  value="org.talend.mdm.repository.ui.editors.IRepositoryViewEditorInput">
            </instanceof></editorInputEnablement>
         <selectionEnablement>
            <instanceof
                  value="org.talend.core.model.repository.IRepositoryViewObject">
            </instanceof>
         </selectionEnablement>
      </linkHelper>
   </extension>
   <extension
         point="org.talend.core.repository.repository_content">
      <RepositoryContent
            class="org.talend.mdm.repository.core.ServerObjectRepositoryContentHandler">
      </RepositoryContent>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            class="org.talend.mdm.repository.ui.navigator.MDMServerDecorator"
            id="org.talend.mdm.repository.ui.navigator.MDMServerDecorator"
            label="MDMServerDecorator"
            lightweight="true"
            state="true">
         <enablement>
            <objectClass
                  name="org.talend.core.model.repository.IRepositoryViewObject">
            </objectClass>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.talend.mdm.repository.ui.editors.XObjectEditor2"
            default="false"
            icon="icons/default.gif"
            id="org.talend.mdm.repository.ui.editors.XObjectEditor2"
            name="org.talend.mdm.repository.ui.editors.XObjectEditor2">
      </editor>
      <editor
            class="org.talend.mdm.repository.ui.editors.XObjectBrowser2"
            default="false"
            icon="icons/default.gif"
            id="org.talend.mdm.repository.ui.editors.XObjectBrowser2"
            name="org.talend.mdm.repository.ui.editors.XObjectBrowser2">
      </editor>       
      <editor
            class="org.talend.mdm.repository.ui.editors.XSDEditor2"
            default="false"
            icon="icons/datamodel.png"
            id="org.talend.mdm.repository.ui.editors.XSDEditor2"
            name="org.talend.mdm.repository.ui.editors.XSDEditor2">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="org.talend.mdm.repository.viewContribution"
            targetID="org.talend.mdm.repository.ui.navigator.MDMRepositoryView">
         <action
               class="org.talend.mdm.repository.ui.actions.FilterRepositoryViewNodeAction"
               icon="icons/filter.gif"
               id="org.talend.mdm.repository.ui.actions.FilterRepositoryViewNodeAction"
               label="%viewAction.filter.label"
               style="toggle"
               toolbarPath="repositoryView"
               tooltip="%viewAction.filter.tooltip">
         </action>
         <!--
         <menu
               id="org.talend.mdm.repository.menu.filter"
               label="Config Filter..."
               path="filter">
         </menu>-->
         <action
               class="org.talend.mdm.repository.ui.actions.ConfigRepositoryFilterAction"
               icon="icons/filter.gif"
               id="org.talend.mdm.repository.action2"
               label="%viewAction.configFilter.label"
               menubarPath="filter">
         </action>
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.talend.mdm.repository.copy"
            name="Copy">
      </command>
      <command
            id="com.talend.mdm.repository.paste"
            name="Paste">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.talend.mdm.repository.copy"
            contextId="org.talend.mdm.repository.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+C">
      </key>
      <key
            commandId="com.talend.mdm.repository.paste"
            contextId="org.talend.mdm.repository.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+V">
      </key>
   </extension>
   <extension
         point="org.talend.core.repository.repository_node_provider">
      <repositoryNode
            class="org.talend.mdm.repository.core.nodes.MenuRepositoryNode"
            folder="MDM/menu"
            isResouce="true"
            label="Menu"
            products="MDM"
            type="MDM.Menu">
      </repositoryNode>
      <repositoryNode
            class="org.talend.mdm.repository.core.nodes.RoleRepositoryNode"
            folder="MDM/role"
            isResouce="true"
            label="Role"
            products="MDM"
            type="MDM.Role">
      </repositoryNode>
      <!--
      <repositoryNode
            class="org.talend.mdm.repository.core.nodes.CategoryRepositoryNode"
            folder="/"
            isResouce="false"
            label="Category"
            products="MDM"
            type="MDM.Category">
      </repositoryNode>
      -->
      <repositoryNode
            class="org.talend.mdm.repository.core.nodes.DataModelRepositoryNode"
            folder="MDM/datamodel"
            isResouce="true"
            label="Data Model"
            products="MDM"
            type="MDM.DataModel">
      </repositoryNode>
      <repositoryNode
            class="org.talend.mdm.repository.core.nodes.DataClusterRepositoryNode"
            folder="MDM/datacontainer"
            isResouce="true"
            label="Data Container"
            products="MDM"
            type="MDM.DataCluster">
      </repositoryNode>
      <repositoryNode
            class="org.talend.mdm.repository.core.nodes.StoredProcedureRepositoryNode"
            folder="MDM/storedprocedure"
            isResouce="true"
            label="Stored Procedure"
            products="MDM"
            type="MDM.StoredProcedure">
      </repositoryNode>
      <repositoryNode
            class="org.talend.mdm.repository.core.nodes.UniverseRepositoryNode"
            folder="MDM/version"
            isResouce="true"
            label="Version"
            products="MDM"
            type="MDM.Universe">
      </repositoryNode>
      <repositoryNode
            class="org.talend.mdm.repository.core.nodes.SynchronizationPlanRepositoryNode"
            folder="MDM/synchronizationplan"
            isResouce="true"
            label="Synchronization Plan"
            products="MDM"
            type="MDM.SynchronizationPlan">
      </repositoryNode>
      <repositoryNode
            class="org.talend.mdm.repository.core.nodes.ViewRepositoryNode"
            folder="MDM/view"
            isResouce="true"
            label="View"
            products="MDM"
            type="MDM.View">
      </repositoryNode>
      <repositoryNode
            class="org.talend.mdm.repository.core.nodes.WorkflowDeployRepositoryNode"
            folder="MDM/workflow"
            isResouce="true"
            label="Workflow"
            products="MDM"
            type="MDM.Workflow">
      </repositoryNode>
      <repositoryNode
            class="org.talend.mdm.repository.core.nodes.TransformerV2RepositoryNode"
            folder="MDM/transformerV2"
            isResouce="true"
            label="Process"
            products="MDM"
            type="MDM.TransformerV2">
      </repositoryNode>
      <repositoryNode
            class="org.talend.mdm.repository.core.nodes.RoutingRuleRepositoryNode"
            folder="MDM/routingrule"
            isResouce="true"
            label="Trigger"
            products="MDM"
            type="MDM.RoutingRule">
      </repositoryNode>
      <!--
      <repositoryNode
            class="org.talend.mdm.repository.core.nodes.JobModelRepositoryNode"
            folder="MDM/jobmodel"
            isResouce="true"
            label="Job"
            products="MDM"
            type="MDM.JobModel">
      </repositoryNode>
      -->
      <repositoryNode
            class="org.talend.mdm.repository.core.nodes.EventManagerRepositoryNode"
            folder="MDM/eventmanager"
            isResouce="true"
            label="Event Management"
            products="MDM"
            type="MDM.EventManager">
      </repositoryNode>
      <repositoryNode
            class="org.talend.mdm.repository.core.nodes.ServiceConfigurationRepositoryNode"
            folder="MDM/serviceconfiguration"
            isResouce="true"
            label="Service Configuration"
            products="MDM"
            type="MDM.ServiceConfiguration">
      </repositoryNode>
      <repositoryNode
            class="org.talend.mdm.repository.core.nodes.ResourceRepositoryNode"
            folder="MDM/resource"
            isResouce="true"
            label="Resource"
            products="MDM"
            type="MDM.Resource">
      </repositoryNode>
      <repositoryNode
            class="org.talend.mdm.repository.core.nodes.CustomFormRepositoryNode"
            folder="MDM/customForm"
            isResouce="true"
            label="Custom Form"
            products="MDM"
            type="MDM.CustomForm">
      </repositoryNode>
      <repositoryNode
            class="org.talend.mdm.repository.core.nodes.RecycleBinRepositoryNode"
            folder="MDM/RecycleBin"
            isResouce="false"
            label="Recycle bin"
            products="MDM"
            type="MDM.RecycleBin">
      </repositoryNode>
   </extension>
   <extension
         point="org.talend.mdm.repository.repositoryConfiguration">
      <configuration
            class="org.talend.mdm.repository.core.impl.datacontainer.DataClusterNodeConfiguration"
            label="Data Container">
      </configuration>
      <configuration
            class="org.talend.mdm.repository.core.impl.datamodel.DataModelNodeConfiguration"
            label="Data Model">
      </configuration>
      <configuration
            class="org.talend.mdm.repository.core.impl.menu.MenuNodeConfiguration"
            label="Menu">
      </configuration>
      <configuration
            class="org.talend.mdm.repository.core.impl.storedprocedure.StoredProcedureNodeConfiguration"
            label="Stored Procedure">
      </configuration>
 
      <configuration
            class="org.talend.mdm.repository.core.impl.view.ViewNodeConfiguration"
            label="View">
      </configuration>

      <configuration
            class="org.talend.mdm.repository.core.impl.transformerV2.TransformerV2NodeConfiguration"
            label="Process">
      </configuration>
      <configuration
            class="org.talend.mdm.repository.core.impl.routingrule.RoutingRuleNodeConfiguration"
            label="Trigger">
      </configuration>
      <configuration
            class="org.talend.mdm.repository.core.impl.jobmodel.TISProcessNodeConfiguration"
            label="Job">
      </configuration>
      <configuration
            class="org.talend.mdm.repository.core.impl.eventmanager.EventManagerNodeConfiguration"
            label="Event Manager">
      </configuration>
            <configuration
            class="org.talend.mdm.repository.core.impl.serviceconfiguration.ServiceConfigurationNodeConfiguration"
            label="Service Configuration">
      </configuration>
            <configuration
                  class="org.talend.mdm.repository.core.impl.workspace.WSRootConfiguration"
                  label="WorkspaceRoot">
            </configuration>
   </extension>
</plugin>
