<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.talend.core.repositoryContextualsActions">
	<Action
		    class="org.talend.mdm.engines.client.ui.actions.DeployOnMDMAction"
		    id="org.talend.repository.ui.actions.deployonmdmaction"
		    level="101"
		    name="Deploy on Talend MDM"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.talend.designer.core.ui.preferences.ImportExportPreferencePage"
            class="org.talend.mdm.engines.client.ui.preferences.MDMPreferencePage"
            id="org.talend.repository.prefs.mdm"
            name="Talend MDM Server">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.talend.mdm.engines.client.ui.preferences.MDMPreferenceInitializer">
      </initializer>
   </extension>

</plugin>
