<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app >
    <!-- <distributable/> -->
    
    
    <servlet>
        <servlet-name>dwr-invoker</servlet-name>
        <display-name>DWR Servlet</display-name>
        <servlet-class>uk.ltd.getahead.dwr.DWRServlet</servlet-class>
        <init-param>
            <param-name>debug</param-name>
            <param-value>true</param-value>
        </init-param>
    </servlet>
    
    <servlet>
        <servlet-name>dispatch</servlet-name>
        <display-name>Dispatch</display-name>
        <servlet-class>com.amalto.webapp.core.servlet.ControllerServlet</servlet-class>
    </servlet>

   
    <servlet-mapping>
        <servlet-name>dwr-invoker</servlet-name>
        <url-pattern>/secure/dwr/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>dispatch</servlet-name>
        <url-pattern>/secure/</url-pattern>
    </servlet-mapping>   
    
</web-app>

