<?xml version="1.0" encoding="utf-8"?>
<?eclipse version="3.4"?>

<plugin> 
  <extension point="org.talend.core.components_provider"> 
    <ComponentsProvider class="org.talend.designer.components.tomprovider.TomLocalComponentsProvider" folderName="components" id="org.talend.designer.components.tomprovider.TomLocalComponentsProvider"></ComponentsProvider> 
  </extension>
  <extension
        point="org.talend.designer.codegen.additional_jetfile">
     <jetProvider
           class="org.talend.designer.components.tomprovider.MDMTriggerJetFileProvider"
           id="org.talend.designer.components.tomprovider.MDMTriggerJetFileProvider">
     </jetProvider>
  </extension> 
</plugin>
